$i: 0;
@while $i < 100 {
  .pt-#{$i} {
    padding-top: $i + px !important;
  }
  .pb-#{$i} {
    padding-bottom: $i + px !important;
  }
  .pl-#{$i} {
    padding-left: $i + px !important;
  }
  .pr-#{$i} {
    padding-right: $i + px !important;
  }

  .ptb-#{$i} {
    padding-top: $i + px !important;
    padding-bottom: $i + px !important;
  }
  .plr-#{$i} {
    padding-left: $i + px !important;
    padding-right: $i + px !important;
  }

  .mt-#{$i} {
    margin-top: $i + px !important;
  }
  .mb-#{$i} {
    margin-bottom: $i + px !important;
  }
  .ml-#{$i} {
    margin-left: $i + px !important;
  }
  .mr-#{$i} {
    margin-right: $i + px !important;
  }

  .mtb-#{$i} {
    margin-top: $i + px !important;
    margin-bottom: $i + px !important;
  }
  .mlr-#{$i} {
    margin-left: $i + px !important;
    margin-right: $i + px !important;
  }

  $i: $i + 10;
}

// region padding & margin responsive

//region xs
/* Extra Small Devices, Phones */
@media only screen and (min-width : 320px) {
  $i: 0;
  @while $i < 100 {
    .pt-xs-#{$i} {
      padding-top: $i + px !important;
    }
    .pb-xs-#{$i} {
      padding-bottom: $i + px !important;
    }
    .pl-xs-#{$i} {
      padding-left: $i + px !important;
    }
    .pr-xs-#{$i} {
      padding-right: $i + px !important;
    }

    .ptb-xs-#{$i} {
      padding-top: $i + px !important;
      padding-bottom: $i + px !important;
    }
    .plr-xs-#{$i} {
      padding-left: $i + px !important;
      padding-right: $i + px !important;
    }

    .mt-xs-#{$i} {
      margin-top: $i + px !important;
    }
    .mb-xs-#{$i} {
      margin-bottom: $i + px !important;
    }
    .ml-xs-#{$i} {
      margin-left: $i + px !important;
    }
    .mr-xs-#{$i} {
      margin-right: $i + px !important;
    }

    .mtb-xs-#{$i} {
      margin-top: $i + px !important;
      margin-bottom: $i + px !important;
    }
    .mlr-xs-#{$i} {
      margin-left: $i + px !important;
      margin-right: $i + px !important;
    }

    $i: $i + 10;
  }
}
//endregion

//region sm
@media only screen and (min-width : 768px) {
  $i: 0;
  @while $i < 100 {
    .pt-sm-#{$i} {
      padding-top: $i + px !important;
    }
    .pb-sm-#{$i} {
      padding-bottom: $i + px !important;
    }
    .pl-sm-#{$i} {
      padding-left: $i + px !important;
    }
    .pr-sm-#{$i} {
      padding-right: $i + px !important;
    }

    .ptb-sm-#{$i} {
      padding-top: $i + px !important;
      padding-bottom: $i + px !important;
    }
    .plr-sm-#{$i} {
      padding-left: $i + px !important;
      padding-right: $i + px !important;
    }

    .mt-sm-#{$i} {
      margin-top: $i + px !important;
    }
    .mb-sm-#{$i} {
      margin-bottom: $i + px !important;
    }
    .ml-sm-#{$i} {
      margin-left: $i + px !important;
    }
    .mr-sm-#{$i} {
      margin-right: $i + px !important;
    }

    .mtb-sm-#{$i} {
      margin-top: $i + px !important;
      margin-bottom: $i + px !important;
    }
    .mlr-sm-#{$i} {
      margin-left: $i + px !important;
      margin-right: $i + px !important;
    }

    $i: $i + 10;
  }
}
//endregion

//region md
@media only screen and (min-width : 992px) {
  $i: 0;
  @while $i < 100 {
    .pt-md-#{$i} {
      padding-top: $i + px !important;
    }
    .pb-md-#{$i} {
      padding-bottom: $i + px !important;
    }
    .pl-md-#{$i} {
      padding-left: $i + px !important;
    }
    .pr-md-#{$i} {
      padding-right: $i + px !important;
    }

    .ptb-md-#{$i} {
      padding-top: $i + px !important;
      padding-bottom: $i + px !important;
    }
    .plr-md-#{$i} {
      padding-left: $i + px !important;
      padding-right: $i + px !important;
    }

    .mt-md-#{$i} {
      margin-top: $i + px !important;
    }
    .mb-md-#{$i} {
      margin-bottom: $i + px !important;
    }
    .ml-md-#{$i} {
      margin-left: $i + px !important;
    }
    .mr-md-#{$i} {
      margin-right: $i + px !important;
    }

    .mtb-md-#{$i} {
      margin-top: $i + px !important;
      margin-bottom: $i + px !important;
    }
    .mlr-md-#{$i} {
      margin-left: $i + px !important;
      margin-right: $i + px !important;
    }

    $i: $i + 10;
  }
}
//endregion

//region lg
@media only screen and (min-width : 1200px) {
  $i: 0;
  @while $i < 100 {
    .pt-lg-#{$i} {
      padding-top: $i + px !important;
    }
    .pb-lg-#{$i} {
      padding-bottom: $i + px !important;
    }
    .pl-lg-#{$i} {
      padding-left: $i + px !important;
    }
    .pr-lg-#{$i} {
      padding-right: $i + px !important;
    }

    .ptb-lg-#{$i} {
      padding-top: $i + px !important;
      padding-bottom: $i + px !important;
    }
    .plr-lg-#{$i} {
      padding-left: $i + px !important;
      padding-right: $i + px !important;
    }

    .mt-lg-#{$i} {
      margin-top: $i + px !important;
    }
    .mb-lg-#{$i} {
      margin-bottom: $i + px !important;
    }
    .ml-lg-#{$i} {
      margin-left: $i + px !important;
    }
    .mr-lg-#{$i} {
      margin-right: $i + px !important;
    }

    .mtb-lg-#{$i} {
      margin-top: $i + px !important;
      margin-bottom: $i + px !important;
    }
    .mlr-lg-#{$i} {
      margin-left: $i + px !important;
      margin-right: $i + px !important;
    }

    $i: $i + 10;
  }
}
//endregion

// endregion

$i: 2;
@while $i < 50 {
  .fz-#{$i} {
    font-size: $i + px !important;
  }

  $i: $i + 2;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .no-margin-xs {
    margin: 0;
  }
  .no-padding-xs {
    padding: 0;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .no-margin-xs {
    margin: 0;
  }
  .no-padding-xs {
    padding: 0;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .no-margin-sm {
    margin: 0;
  }
  .no-padding-sm {
    padding: 0;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .no-margin-md {
    margin: 0;
  }
  .no-padding-md {
    padding: 0;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .no-margin-lg {
    margin: 0;
  }
  .no-padding-lg {
    padding: 0;
  }
}

.color-white {
  color: #fff !important;
}

.color-black {
  color: #000 !important;
}

.lh-0 {
  line-height: 0 !important;
}
