.pt-0 {
    padding-top: 0px !important;
}

.pb-0 {
    padding-bottom: 0px !important;
}

.pl-0 {
    padding-left: 0px !important;
}

.pr-0 {
    padding-right: 0px !important;
}

.ptb-0 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.plr-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.mt-0 {
    margin-top: 0px !important;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.ml-0 {
    margin-left: 0px !important;
}

.mr-0 {
    margin-right: 0px !important;
}

.mtb-0 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.mlr-0 {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.pt-10 {
    padding-top: 10px !important;
}

.pb-10 {
    padding-bottom: 10px !important;
}

.pl-10 {
    padding-left: 10px !important;
}

.pr-10 {
    padding-right: 10px !important;
}

.ptb-10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.plr-10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.ml-10 {
    margin-left: 10px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.mtb-10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.mlr-10 {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.pl-20 {
    padding-left: 20px !important;
}

.pr-20 {
    padding-right: 20px !important;
}

.ptb-20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.plr-20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.ml-20 {
    margin-left: 20px !important;
}

.mr-20 {
    margin-right: 20px !important;
}

.mtb-20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.mlr-20 {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.pt-30 {
    padding-top: 30px !important;
}

.pb-30 {
    padding-bottom: 30px !important;
}

.pl-30 {
    padding-left: 30px !important;
}

.pr-30 {
    padding-right: 30px !important;
}

.ptb-30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.plr-30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mtb-30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.mlr-30 {
    margin-left: 30px !important;
    margin-right: 30px !important;
}

.pt-40 {
    padding-top: 40px !important;
}

.pb-40 {
    padding-bottom: 40px !important;
}

.pl-40 {
    padding-left: 40px !important;
}

.pr-40 {
    padding-right: 40px !important;
}

.ptb-40 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.plr-40 {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.ml-40 {
    margin-left: 40px !important;
}

.mr-40 {
    margin-right: 40px !important;
}

.mtb-40 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.mlr-40 {
    margin-left: 40px !important;
    margin-right: 40px !important;
}

.pt-50 {
    padding-top: 50px !important;
}

.pb-50 {
    padding-bottom: 50px !important;
}

.pl-50 {
    padding-left: 50px !important;
}

.pr-50 {
    padding-right: 50px !important;
}

.ptb-50 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.plr-50 {
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.ml-50 {
    margin-left: 50px !important;
}

.mr-50 {
    margin-right: 50px !important;
}

.mtb-50 {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.mlr-50 {
    margin-left: 50px !important;
    margin-right: 50px !important;
}

.pt-60 {
    padding-top: 60px !important;
}

.pb-60 {
    padding-bottom: 60px !important;
}

.pl-60 {
    padding-left: 60px !important;
}

.pr-60 {
    padding-right: 60px !important;
}

.ptb-60 {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}

.plr-60 {
    padding-left: 60px !important;
    padding-right: 60px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

.mb-60 {
    margin-bottom: 60px !important;
}

.ml-60 {
    margin-left: 60px !important;
}

.mr-60 {
    margin-right: 60px !important;
}

.mtb-60 {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
}

.mlr-60 {
    margin-left: 60px !important;
    margin-right: 60px !important;
}

.pt-70 {
    padding-top: 70px !important;
}

.pb-70 {
    padding-bottom: 70px !important;
}

.pl-70 {
    padding-left: 70px !important;
}

.pr-70 {
    padding-right: 70px !important;
}

.ptb-70 {
    padding-top: 70px !important;
    padding-bottom: 70px !important;
}

.plr-70 {
    padding-left: 70px !important;
    padding-right: 70px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.ml-70 {
    margin-left: 70px !important;
}

.mr-70 {
    margin-right: 70px !important;
}

.mtb-70 {
    margin-top: 70px !important;
    margin-bottom: 70px !important;
}

.mlr-70 {
    margin-left: 70px !important;
    margin-right: 70px !important;
}

.pt-80 {
    padding-top: 80px !important;
}

.pb-80 {
    padding-bottom: 80px !important;
}

.pl-80 {
    padding-left: 80px !important;
}

.pr-80 {
    padding-right: 80px !important;
}

.ptb-80 {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
}

.plr-80 {
    padding-left: 80px !important;
    padding-right: 80px !important;
}

.mt-80 {
    margin-top: 80px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}

.ml-80 {
    margin-left: 80px !important;
}

.mr-80 {
    margin-right: 80px !important;
}

.mtb-80 {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
}

.mlr-80 {
    margin-left: 80px !important;
    margin-right: 80px !important;
}

.pt-90 {
    padding-top: 90px !important;
}

.pb-90 {
    padding-bottom: 90px !important;
}

.pl-90 {
    padding-left: 90px !important;
}

.pr-90 {
    padding-right: 90px !important;
}

.ptb-90 {
    padding-top: 90px !important;
    padding-bottom: 90px !important;
}

.plr-90 {
    padding-left: 90px !important;
    padding-right: 90px !important;
}

.mt-90 {
    margin-top: 90px !important;
}

.mb-90 {
    margin-bottom: 90px !important;
}

.ml-90 {
    margin-left: 90px !important;
}

.mr-90 {
    margin-right: 90px !important;
}

.mtb-90 {
    margin-top: 90px !important;
    margin-bottom: 90px !important;
}

.mlr-90 {
    margin-left: 90px !important;
    margin-right: 90px !important;
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 320px) {
    .pt-xs-0 {
        padding-top: 0px !important;
    }

    .pb-xs-0 {
        padding-bottom: 0px !important;
    }

    .pl-xs-0 {
        padding-left: 0px !important;
    }

    .pr-xs-0 {
        padding-right: 0px !important;
    }

    .ptb-xs-0 {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .plr-xs-0 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .mt-xs-0 {
        margin-top: 0px !important;
    }

    .mb-xs-0 {
        margin-bottom: 0px !important;
    }

    .ml-xs-0 {
        margin-left: 0px !important;
    }

    .mr-xs-0 {
        margin-right: 0px !important;
    }

    .mtb-xs-0 {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .mlr-xs-0 {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .pt-xs-10 {
        padding-top: 10px !important;
    }

    .pb-xs-10 {
        padding-bottom: 10px !important;
    }

    .pl-xs-10 {
        padding-left: 10px !important;
    }

    .pr-xs-10 {
        padding-right: 10px !important;
    }

    .ptb-xs-10 {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .plr-xs-10 {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .mt-xs-10 {
        margin-top: 10px !important;
    }

    .mb-xs-10 {
        margin-bottom: 10px !important;
    }

    .ml-xs-10 {
        margin-left: 10px !important;
    }

    .mr-xs-10 {
        margin-right: 10px !important;
    }

    .mtb-xs-10 {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

    .mlr-xs-10 {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    .pt-xs-20 {
        padding-top: 20px !important;
    }

    .pb-xs-20 {
        padding-bottom: 20px !important;
    }

    .pl-xs-20 {
        padding-left: 20px !important;
    }

    .pr-xs-20 {
        padding-right: 20px !important;
    }

    .ptb-xs-20 {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .plr-xs-20 {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .mt-xs-20 {
        margin-top: 20px !important;
    }

    .mb-xs-20 {
        margin-bottom: 20px !important;
    }

    .ml-xs-20 {
        margin-left: 20px !important;
    }

    .mr-xs-20 {
        margin-right: 20px !important;
    }

    .mtb-xs-20 {
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }

    .mlr-xs-20 {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .pt-xs-30 {
        padding-top: 30px !important;
    }

    .pb-xs-30 {
        padding-bottom: 30px !important;
    }

    .pl-xs-30 {
        padding-left: 30px !important;
    }

    .pr-xs-30 {
        padding-right: 30px !important;
    }

    .ptb-xs-30 {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }

    .plr-xs-30 {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    .mt-xs-30 {
        margin-top: 30px !important;
    }

    .mb-xs-30 {
        margin-bottom: 30px !important;
    }

    .ml-xs-30 {
        margin-left: 30px !important;
    }

    .mr-xs-30 {
        margin-right: 30px !important;
    }

    .mtb-xs-30 {
        margin-top: 30px !important;
        margin-bottom: 30px !important;
    }

    .mlr-xs-30 {
        margin-left: 30px !important;
        margin-right: 30px !important;
    }

    .pt-xs-40 {
        padding-top: 40px !important;
    }

    .pb-xs-40 {
        padding-bottom: 40px !important;
    }

    .pl-xs-40 {
        padding-left: 40px !important;
    }

    .pr-xs-40 {
        padding-right: 40px !important;
    }

    .ptb-xs-40 {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }

    .plr-xs-40 {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }

    .mt-xs-40 {
        margin-top: 40px !important;
    }

    .mb-xs-40 {
        margin-bottom: 40px !important;
    }

    .ml-xs-40 {
        margin-left: 40px !important;
    }

    .mr-xs-40 {
        margin-right: 40px !important;
    }

    .mtb-xs-40 {
        margin-top: 40px !important;
        margin-bottom: 40px !important;
    }

    .mlr-xs-40 {
        margin-left: 40px !important;
        margin-right: 40px !important;
    }

    .pt-xs-50 {
        padding-top: 50px !important;
    }

    .pb-xs-50 {
        padding-bottom: 50px !important;
    }

    .pl-xs-50 {
        padding-left: 50px !important;
    }

    .pr-xs-50 {
        padding-right: 50px !important;
    }

    .ptb-xs-50 {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }

    .plr-xs-50 {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }

    .mt-xs-50 {
        margin-top: 50px !important;
    }

    .mb-xs-50 {
        margin-bottom: 50px !important;
    }

    .ml-xs-50 {
        margin-left: 50px !important;
    }

    .mr-xs-50 {
        margin-right: 50px !important;
    }

    .mtb-xs-50 {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }

    .mlr-xs-50 {
        margin-left: 50px !important;
        margin-right: 50px !important;
    }

    .pt-xs-60 {
        padding-top: 60px !important;
    }

    .pb-xs-60 {
        padding-bottom: 60px !important;
    }

    .pl-xs-60 {
        padding-left: 60px !important;
    }

    .pr-xs-60 {
        padding-right: 60px !important;
    }

    .ptb-xs-60 {
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

    .plr-xs-60 {
        padding-left: 60px !important;
        padding-right: 60px !important;
    }

    .mt-xs-60 {
        margin-top: 60px !important;
    }

    .mb-xs-60 {
        margin-bottom: 60px !important;
    }

    .ml-xs-60 {
        margin-left: 60px !important;
    }

    .mr-xs-60 {
        margin-right: 60px !important;
    }

    .mtb-xs-60 {
        margin-top: 60px !important;
        margin-bottom: 60px !important;
    }

    .mlr-xs-60 {
        margin-left: 60px !important;
        margin-right: 60px !important;
    }

    .pt-xs-70 {
        padding-top: 70px !important;
    }

    .pb-xs-70 {
        padding-bottom: 70px !important;
    }

    .pl-xs-70 {
        padding-left: 70px !important;
    }

    .pr-xs-70 {
        padding-right: 70px !important;
    }

    .ptb-xs-70 {
        padding-top: 70px !important;
        padding-bottom: 70px !important;
    }

    .plr-xs-70 {
        padding-left: 70px !important;
        padding-right: 70px !important;
    }

    .mt-xs-70 {
        margin-top: 70px !important;
    }

    .mb-xs-70 {
        margin-bottom: 70px !important;
    }

    .ml-xs-70 {
        margin-left: 70px !important;
    }

    .mr-xs-70 {
        margin-right: 70px !important;
    }

    .mtb-xs-70 {
        margin-top: 70px !important;
        margin-bottom: 70px !important;
    }

    .mlr-xs-70 {
        margin-left: 70px !important;
        margin-right: 70px !important;
    }

    .pt-xs-80 {
        padding-top: 80px !important;
    }

    .pb-xs-80 {
        padding-bottom: 80px !important;
    }

    .pl-xs-80 {
        padding-left: 80px !important;
    }

    .pr-xs-80 {
        padding-right: 80px !important;
    }

    .ptb-xs-80 {
        padding-top: 80px !important;
        padding-bottom: 80px !important;
    }

    .plr-xs-80 {
        padding-left: 80px !important;
        padding-right: 80px !important;
    }

    .mt-xs-80 {
        margin-top: 80px !important;
    }

    .mb-xs-80 {
        margin-bottom: 80px !important;
    }

    .ml-xs-80 {
        margin-left: 80px !important;
    }

    .mr-xs-80 {
        margin-right: 80px !important;
    }

    .mtb-xs-80 {
        margin-top: 80px !important;
        margin-bottom: 80px !important;
    }

    .mlr-xs-80 {
        margin-left: 80px !important;
        margin-right: 80px !important;
    }

    .pt-xs-90 {
        padding-top: 90px !important;
    }

    .pb-xs-90 {
        padding-bottom: 90px !important;
    }

    .pl-xs-90 {
        padding-left: 90px !important;
    }

    .pr-xs-90 {
        padding-right: 90px !important;
    }

    .ptb-xs-90 {
        padding-top: 90px !important;
        padding-bottom: 90px !important;
    }

    .plr-xs-90 {
        padding-left: 90px !important;
        padding-right: 90px !important;
    }

    .mt-xs-90 {
        margin-top: 90px !important;
    }

    .mb-xs-90 {
        margin-bottom: 90px !important;
    }

    .ml-xs-90 {
        margin-left: 90px !important;
    }

    .mr-xs-90 {
        margin-right: 90px !important;
    }

    .mtb-xs-90 {
        margin-top: 90px !important;
        margin-bottom: 90px !important;
    }

    .mlr-xs-90 {
        margin-left: 90px !important;
        margin-right: 90px !important;
    }
}
@media only screen and (min-width: 768px) {
    .pt-sm-0 {
        padding-top: 0px !important;
    }

    .pb-sm-0 {
        padding-bottom: 0px !important;
    }

    .pl-sm-0 {
        padding-left: 0px !important;
    }

    .pr-sm-0 {
        padding-right: 0px !important;
    }

    .ptb-sm-0 {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .plr-sm-0 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .mt-sm-0 {
        margin-top: 0px !important;
    }

    .mb-sm-0 {
        margin-bottom: 0px !important;
    }

    .ml-sm-0 {
        margin-left: 0px !important;
    }

    .mr-sm-0 {
        margin-right: 0px !important;
    }

    .mtb-sm-0 {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .mlr-sm-0 {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .pt-sm-10 {
        padding-top: 10px !important;
    }

    .pb-sm-10 {
        padding-bottom: 10px !important;
    }

    .pl-sm-10 {
        padding-left: 10px !important;
    }

    .pr-sm-10 {
        padding-right: 10px !important;
    }

    .ptb-sm-10 {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .plr-sm-10 {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .mt-sm-10 {
        margin-top: 10px !important;
    }

    .mb-sm-10 {
        margin-bottom: 10px !important;
    }

    .ml-sm-10 {
        margin-left: 10px !important;
    }

    .mr-sm-10 {
        margin-right: 10px !important;
    }

    .mtb-sm-10 {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

    .mlr-sm-10 {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    .pt-sm-20 {
        padding-top: 20px !important;
    }

    .pb-sm-20 {
        padding-bottom: 20px !important;
    }

    .pl-sm-20 {
        padding-left: 20px !important;
    }

    .pr-sm-20 {
        padding-right: 20px !important;
    }

    .ptb-sm-20 {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .plr-sm-20 {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .mt-sm-20 {
        margin-top: 20px !important;
    }

    .mb-sm-20 {
        margin-bottom: 20px !important;
    }

    .ml-sm-20 {
        margin-left: 20px !important;
    }

    .mr-sm-20 {
        margin-right: 20px !important;
    }

    .mtb-sm-20 {
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }

    .mlr-sm-20 {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .pt-sm-30 {
        padding-top: 30px !important;
    }

    .pb-sm-30 {
        padding-bottom: 30px !important;
    }

    .pl-sm-30 {
        padding-left: 30px !important;
    }

    .pr-sm-30 {
        padding-right: 30px !important;
    }

    .ptb-sm-30 {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }

    .plr-sm-30 {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    .mt-sm-30 {
        margin-top: 30px !important;
    }

    .mb-sm-30 {
        margin-bottom: 30px !important;
    }

    .ml-sm-30 {
        margin-left: 30px !important;
    }

    .mr-sm-30 {
        margin-right: 30px !important;
    }

    .mtb-sm-30 {
        margin-top: 30px !important;
        margin-bottom: 30px !important;
    }

    .mlr-sm-30 {
        margin-left: 30px !important;
        margin-right: 30px !important;
    }

    .pt-sm-40 {
        padding-top: 40px !important;
    }

    .pb-sm-40 {
        padding-bottom: 40px !important;
    }

    .pl-sm-40 {
        padding-left: 40px !important;
    }

    .pr-sm-40 {
        padding-right: 40px !important;
    }

    .ptb-sm-40 {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }

    .plr-sm-40 {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }

    .mt-sm-40 {
        margin-top: 40px !important;
    }

    .mb-sm-40 {
        margin-bottom: 40px !important;
    }

    .ml-sm-40 {
        margin-left: 40px !important;
    }

    .mr-sm-40 {
        margin-right: 40px !important;
    }

    .mtb-sm-40 {
        margin-top: 40px !important;
        margin-bottom: 40px !important;
    }

    .mlr-sm-40 {
        margin-left: 40px !important;
        margin-right: 40px !important;
    }

    .pt-sm-50 {
        padding-top: 50px !important;
    }

    .pb-sm-50 {
        padding-bottom: 50px !important;
    }

    .pl-sm-50 {
        padding-left: 50px !important;
    }

    .pr-sm-50 {
        padding-right: 50px !important;
    }

    .ptb-sm-50 {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }

    .plr-sm-50 {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }

    .mt-sm-50 {
        margin-top: 50px !important;
    }

    .mb-sm-50 {
        margin-bottom: 50px !important;
    }

    .ml-sm-50 {
        margin-left: 50px !important;
    }

    .mr-sm-50 {
        margin-right: 50px !important;
    }

    .mtb-sm-50 {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }

    .mlr-sm-50 {
        margin-left: 50px !important;
        margin-right: 50px !important;
    }

    .pt-sm-60 {
        padding-top: 60px !important;
    }

    .pb-sm-60 {
        padding-bottom: 60px !important;
    }

    .pl-sm-60 {
        padding-left: 60px !important;
    }

    .pr-sm-60 {
        padding-right: 60px !important;
    }

    .ptb-sm-60 {
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

    .plr-sm-60 {
        padding-left: 60px !important;
        padding-right: 60px !important;
    }

    .mt-sm-60 {
        margin-top: 60px !important;
    }

    .mb-sm-60 {
        margin-bottom: 60px !important;
    }

    .ml-sm-60 {
        margin-left: 60px !important;
    }

    .mr-sm-60 {
        margin-right: 60px !important;
    }

    .mtb-sm-60 {
        margin-top: 60px !important;
        margin-bottom: 60px !important;
    }

    .mlr-sm-60 {
        margin-left: 60px !important;
        margin-right: 60px !important;
    }

    .pt-sm-70 {
        padding-top: 70px !important;
    }

    .pb-sm-70 {
        padding-bottom: 70px !important;
    }

    .pl-sm-70 {
        padding-left: 70px !important;
    }

    .pr-sm-70 {
        padding-right: 70px !important;
    }

    .ptb-sm-70 {
        padding-top: 70px !important;
        padding-bottom: 70px !important;
    }

    .plr-sm-70 {
        padding-left: 70px !important;
        padding-right: 70px !important;
    }

    .mt-sm-70 {
        margin-top: 70px !important;
    }

    .mb-sm-70 {
        margin-bottom: 70px !important;
    }

    .ml-sm-70 {
        margin-left: 70px !important;
    }

    .mr-sm-70 {
        margin-right: 70px !important;
    }

    .mtb-sm-70 {
        margin-top: 70px !important;
        margin-bottom: 70px !important;
    }

    .mlr-sm-70 {
        margin-left: 70px !important;
        margin-right: 70px !important;
    }

    .pt-sm-80 {
        padding-top: 80px !important;
    }

    .pb-sm-80 {
        padding-bottom: 80px !important;
    }

    .pl-sm-80 {
        padding-left: 80px !important;
    }

    .pr-sm-80 {
        padding-right: 80px !important;
    }

    .ptb-sm-80 {
        padding-top: 80px !important;
        padding-bottom: 80px !important;
    }

    .plr-sm-80 {
        padding-left: 80px !important;
        padding-right: 80px !important;
    }

    .mt-sm-80 {
        margin-top: 80px !important;
    }

    .mb-sm-80 {
        margin-bottom: 80px !important;
    }

    .ml-sm-80 {
        margin-left: 80px !important;
    }

    .mr-sm-80 {
        margin-right: 80px !important;
    }

    .mtb-sm-80 {
        margin-top: 80px !important;
        margin-bottom: 80px !important;
    }

    .mlr-sm-80 {
        margin-left: 80px !important;
        margin-right: 80px !important;
    }

    .pt-sm-90 {
        padding-top: 90px !important;
    }

    .pb-sm-90 {
        padding-bottom: 90px !important;
    }

    .pl-sm-90 {
        padding-left: 90px !important;
    }

    .pr-sm-90 {
        padding-right: 90px !important;
    }

    .ptb-sm-90 {
        padding-top: 90px !important;
        padding-bottom: 90px !important;
    }

    .plr-sm-90 {
        padding-left: 90px !important;
        padding-right: 90px !important;
    }

    .mt-sm-90 {
        margin-top: 90px !important;
    }

    .mb-sm-90 {
        margin-bottom: 90px !important;
    }

    .ml-sm-90 {
        margin-left: 90px !important;
    }

    .mr-sm-90 {
        margin-right: 90px !important;
    }

    .mtb-sm-90 {
        margin-top: 90px !important;
        margin-bottom: 90px !important;
    }

    .mlr-sm-90 {
        margin-left: 90px !important;
        margin-right: 90px !important;
    }
}
@media only screen and (min-width: 992px) {
    .pt-md-0 {
        padding-top: 0px !important;
    }

    .pb-md-0 {
        padding-bottom: 0px !important;
    }

    .pl-md-0 {
        padding-left: 0px !important;
    }

    .pr-md-0 {
        padding-right: 0px !important;
    }

    .ptb-md-0 {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .plr-md-0 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .mt-md-0 {
        margin-top: 0px !important;
    }

    .mb-md-0 {
        margin-bottom: 0px !important;
    }

    .ml-md-0 {
        margin-left: 0px !important;
    }

    .mr-md-0 {
        margin-right: 0px !important;
    }

    .mtb-md-0 {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .mlr-md-0 {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .pt-md-10 {
        padding-top: 10px !important;
    }

    .pb-md-10 {
        padding-bottom: 10px !important;
    }

    .pl-md-10 {
        padding-left: 10px !important;
    }

    .pr-md-10 {
        padding-right: 10px !important;
    }

    .ptb-md-10 {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .plr-md-10 {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .mt-md-10 {
        margin-top: 10px !important;
    }

    .mb-md-10 {
        margin-bottom: 10px !important;
    }

    .ml-md-10 {
        margin-left: 10px !important;
    }

    .mr-md-10 {
        margin-right: 10px !important;
    }

    .mtb-md-10 {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

    .mlr-md-10 {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    .pt-md-20 {
        padding-top: 20px !important;
    }

    .pb-md-20 {
        padding-bottom: 20px !important;
    }

    .pl-md-20 {
        padding-left: 20px !important;
    }

    .pr-md-20 {
        padding-right: 20px !important;
    }

    .ptb-md-20 {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .plr-md-20 {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .mt-md-20 {
        margin-top: 20px !important;
    }

    .mb-md-20 {
        margin-bottom: 20px !important;
    }

    .ml-md-20 {
        margin-left: 20px !important;
    }

    .mr-md-20 {
        margin-right: 20px !important;
    }

    .mtb-md-20 {
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }

    .mlr-md-20 {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .pt-md-30 {
        padding-top: 30px !important;
    }

    .pb-md-30 {
        padding-bottom: 30px !important;
    }

    .pl-md-30 {
        padding-left: 30px !important;
    }

    .pr-md-30 {
        padding-right: 30px !important;
    }

    .ptb-md-30 {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }

    .plr-md-30 {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    .mt-md-30 {
        margin-top: 30px !important;
    }

    .mb-md-30 {
        margin-bottom: 30px !important;
    }

    .ml-md-30 {
        margin-left: 30px !important;
    }

    .mr-md-30 {
        margin-right: 30px !important;
    }

    .mtb-md-30 {
        margin-top: 30px !important;
        margin-bottom: 30px !important;
    }

    .mlr-md-30 {
        margin-left: 30px !important;
        margin-right: 30px !important;
    }

    .pt-md-40 {
        padding-top: 40px !important;
    }

    .pb-md-40 {
        padding-bottom: 40px !important;
    }

    .pl-md-40 {
        padding-left: 40px !important;
    }

    .pr-md-40 {
        padding-right: 40px !important;
    }

    .ptb-md-40 {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }

    .plr-md-40 {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }

    .mt-md-40 {
        margin-top: 40px !important;
    }

    .mb-md-40 {
        margin-bottom: 40px !important;
    }

    .ml-md-40 {
        margin-left: 40px !important;
    }

    .mr-md-40 {
        margin-right: 40px !important;
    }

    .mtb-md-40 {
        margin-top: 40px !important;
        margin-bottom: 40px !important;
    }

    .mlr-md-40 {
        margin-left: 40px !important;
        margin-right: 40px !important;
    }

    .pt-md-50 {
        padding-top: 50px !important;
    }

    .pb-md-50 {
        padding-bottom: 50px !important;
    }

    .pl-md-50 {
        padding-left: 50px !important;
    }

    .pr-md-50 {
        padding-right: 50px !important;
    }

    .ptb-md-50 {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }

    .plr-md-50 {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }

    .mt-md-50 {
        margin-top: 50px !important;
    }

    .mb-md-50 {
        margin-bottom: 50px !important;
    }

    .ml-md-50 {
        margin-left: 50px !important;
    }

    .mr-md-50 {
        margin-right: 50px !important;
    }

    .mtb-md-50 {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }

    .mlr-md-50 {
        margin-left: 50px !important;
        margin-right: 50px !important;
    }

    .pt-md-60 {
        padding-top: 60px !important;
    }

    .pb-md-60 {
        padding-bottom: 60px !important;
    }

    .pl-md-60 {
        padding-left: 60px !important;
    }

    .pr-md-60 {
        padding-right: 60px !important;
    }

    .ptb-md-60 {
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

    .plr-md-60 {
        padding-left: 60px !important;
        padding-right: 60px !important;
    }

    .mt-md-60 {
        margin-top: 60px !important;
    }

    .mb-md-60 {
        margin-bottom: 60px !important;
    }

    .ml-md-60 {
        margin-left: 60px !important;
    }

    .mr-md-60 {
        margin-right: 60px !important;
    }

    .mtb-md-60 {
        margin-top: 60px !important;
        margin-bottom: 60px !important;
    }

    .mlr-md-60 {
        margin-left: 60px !important;
        margin-right: 60px !important;
    }

    .pt-md-70 {
        padding-top: 70px !important;
    }

    .pb-md-70 {
        padding-bottom: 70px !important;
    }

    .pl-md-70 {
        padding-left: 70px !important;
    }

    .pr-md-70 {
        padding-right: 70px !important;
    }

    .ptb-md-70 {
        padding-top: 70px !important;
        padding-bottom: 70px !important;
    }

    .plr-md-70 {
        padding-left: 70px !important;
        padding-right: 70px !important;
    }

    .mt-md-70 {
        margin-top: 70px !important;
    }

    .mb-md-70 {
        margin-bottom: 70px !important;
    }

    .ml-md-70 {
        margin-left: 70px !important;
    }

    .mr-md-70 {
        margin-right: 70px !important;
    }

    .mtb-md-70 {
        margin-top: 70px !important;
        margin-bottom: 70px !important;
    }

    .mlr-md-70 {
        margin-left: 70px !important;
        margin-right: 70px !important;
    }

    .pt-md-80 {
        padding-top: 80px !important;
    }

    .pb-md-80 {
        padding-bottom: 80px !important;
    }

    .pl-md-80 {
        padding-left: 80px !important;
    }

    .pr-md-80 {
        padding-right: 80px !important;
    }

    .ptb-md-80 {
        padding-top: 80px !important;
        padding-bottom: 80px !important;
    }

    .plr-md-80 {
        padding-left: 80px !important;
        padding-right: 80px !important;
    }

    .mt-md-80 {
        margin-top: 80px !important;
    }

    .mb-md-80 {
        margin-bottom: 80px !important;
    }

    .ml-md-80 {
        margin-left: 80px !important;
    }

    .mr-md-80 {
        margin-right: 80px !important;
    }

    .mtb-md-80 {
        margin-top: 80px !important;
        margin-bottom: 80px !important;
    }

    .mlr-md-80 {
        margin-left: 80px !important;
        margin-right: 80px !important;
    }

    .pt-md-90 {
        padding-top: 90px !important;
    }

    .pb-md-90 {
        padding-bottom: 90px !important;
    }

    .pl-md-90 {
        padding-left: 90px !important;
    }

    .pr-md-90 {
        padding-right: 90px !important;
    }

    .ptb-md-90 {
        padding-top: 90px !important;
        padding-bottom: 90px !important;
    }

    .plr-md-90 {
        padding-left: 90px !important;
        padding-right: 90px !important;
    }

    .mt-md-90 {
        margin-top: 90px !important;
    }

    .mb-md-90 {
        margin-bottom: 90px !important;
    }

    .ml-md-90 {
        margin-left: 90px !important;
    }

    .mr-md-90 {
        margin-right: 90px !important;
    }

    .mtb-md-90 {
        margin-top: 90px !important;
        margin-bottom: 90px !important;
    }

    .mlr-md-90 {
        margin-left: 90px !important;
        margin-right: 90px !important;
    }
}
@media only screen and (min-width: 1200px) {
    .pt-lg-0 {
        padding-top: 0px !important;
    }

    .pb-lg-0 {
        padding-bottom: 0px !important;
    }

    .pl-lg-0 {
        padding-left: 0px !important;
    }

    .pr-lg-0 {
        padding-right: 0px !important;
    }

    .ptb-lg-0 {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .plr-lg-0 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .mt-lg-0 {
        margin-top: 0px !important;
    }

    .mb-lg-0 {
        margin-bottom: 0px !important;
    }

    .ml-lg-0 {
        margin-left: 0px !important;
    }

    .mr-lg-0 {
        margin-right: 0px !important;
    }

    .mtb-lg-0 {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .mlr-lg-0 {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .pt-lg-10 {
        padding-top: 10px !important;
    }

    .pb-lg-10 {
        padding-bottom: 10px !important;
    }

    .pl-lg-10 {
        padding-left: 10px !important;
    }

    .pr-lg-10 {
        padding-right: 10px !important;
    }

    .ptb-lg-10 {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .plr-lg-10 {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .mt-lg-10 {
        margin-top: 10px !important;
    }

    .mb-lg-10 {
        margin-bottom: 10px !important;
    }

    .ml-lg-10 {
        margin-left: 10px !important;
    }

    .mr-lg-10 {
        margin-right: 10px !important;
    }

    .mtb-lg-10 {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

    .mlr-lg-10 {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    .pt-lg-20 {
        padding-top: 20px !important;
    }

    .pb-lg-20 {
        padding-bottom: 20px !important;
    }

    .pl-lg-20 {
        padding-left: 20px !important;
    }

    .pr-lg-20 {
        padding-right: 20px !important;
    }

    .ptb-lg-20 {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .plr-lg-20 {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .mt-lg-20 {
        margin-top: 20px !important;
    }

    .mb-lg-20 {
        margin-bottom: 20px !important;
    }

    .ml-lg-20 {
        margin-left: 20px !important;
    }

    .mr-lg-20 {
        margin-right: 20px !important;
    }

    .mtb-lg-20 {
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }

    .mlr-lg-20 {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .pt-lg-30 {
        padding-top: 30px !important;
    }

    .pb-lg-30 {
        padding-bottom: 30px !important;
    }

    .pl-lg-30 {
        padding-left: 30px !important;
    }

    .pr-lg-30 {
        padding-right: 30px !important;
    }

    .ptb-lg-30 {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }

    .plr-lg-30 {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    .mt-lg-30 {
        margin-top: 30px !important;
    }

    .mb-lg-30 {
        margin-bottom: 30px !important;
    }

    .ml-lg-30 {
        margin-left: 30px !important;
    }

    .mr-lg-30 {
        margin-right: 30px !important;
    }

    .mtb-lg-30 {
        margin-top: 30px !important;
        margin-bottom: 30px !important;
    }

    .mlr-lg-30 {
        margin-left: 30px !important;
        margin-right: 30px !important;
    }

    .pt-lg-40 {
        padding-top: 40px !important;
    }

    .pb-lg-40 {
        padding-bottom: 40px !important;
    }

    .pl-lg-40 {
        padding-left: 40px !important;
    }

    .pr-lg-40 {
        padding-right: 40px !important;
    }

    .ptb-lg-40 {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }

    .plr-lg-40 {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }

    .mt-lg-40 {
        margin-top: 40px !important;
    }

    .mb-lg-40 {
        margin-bottom: 40px !important;
    }

    .ml-lg-40 {
        margin-left: 40px !important;
    }

    .mr-lg-40 {
        margin-right: 40px !important;
    }

    .mtb-lg-40 {
        margin-top: 40px !important;
        margin-bottom: 40px !important;
    }

    .mlr-lg-40 {
        margin-left: 40px !important;
        margin-right: 40px !important;
    }

    .pt-lg-50 {
        padding-top: 50px !important;
    }

    .pb-lg-50 {
        padding-bottom: 50px !important;
    }

    .pl-lg-50 {
        padding-left: 50px !important;
    }

    .pr-lg-50 {
        padding-right: 50px !important;
    }

    .ptb-lg-50 {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }

    .plr-lg-50 {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }

    .mt-lg-50 {
        margin-top: 50px !important;
    }

    .mb-lg-50 {
        margin-bottom: 50px !important;
    }

    .ml-lg-50 {
        margin-left: 50px !important;
    }

    .mr-lg-50 {
        margin-right: 50px !important;
    }

    .mtb-lg-50 {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }

    .mlr-lg-50 {
        margin-left: 50px !important;
        margin-right: 50px !important;
    }

    .pt-lg-60 {
        padding-top: 60px !important;
    }

    .pb-lg-60 {
        padding-bottom: 60px !important;
    }

    .pl-lg-60 {
        padding-left: 60px !important;
    }

    .pr-lg-60 {
        padding-right: 60px !important;
    }

    .ptb-lg-60 {
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

    .plr-lg-60 {
        padding-left: 60px !important;
        padding-right: 60px !important;
    }

    .mt-lg-60 {
        margin-top: 60px !important;
    }

    .mb-lg-60 {
        margin-bottom: 60px !important;
    }

    .ml-lg-60 {
        margin-left: 60px !important;
    }

    .mr-lg-60 {
        margin-right: 60px !important;
    }

    .mtb-lg-60 {
        margin-top: 60px !important;
        margin-bottom: 60px !important;
    }

    .mlr-lg-60 {
        margin-left: 60px !important;
        margin-right: 60px !important;
    }

    .pt-lg-70 {
        padding-top: 70px !important;
    }

    .pb-lg-70 {
        padding-bottom: 70px !important;
    }

    .pl-lg-70 {
        padding-left: 70px !important;
    }

    .pr-lg-70 {
        padding-right: 70px !important;
    }

    .ptb-lg-70 {
        padding-top: 70px !important;
        padding-bottom: 70px !important;
    }

    .plr-lg-70 {
        padding-left: 70px !important;
        padding-right: 70px !important;
    }

    .mt-lg-70 {
        margin-top: 70px !important;
    }

    .mb-lg-70 {
        margin-bottom: 70px !important;
    }

    .ml-lg-70 {
        margin-left: 70px !important;
    }

    .mr-lg-70 {
        margin-right: 70px !important;
    }

    .mtb-lg-70 {
        margin-top: 70px !important;
        margin-bottom: 70px !important;
    }

    .mlr-lg-70 {
        margin-left: 70px !important;
        margin-right: 70px !important;
    }

    .pt-lg-80 {
        padding-top: 80px !important;
    }

    .pb-lg-80 {
        padding-bottom: 80px !important;
    }

    .pl-lg-80 {
        padding-left: 80px !important;
    }

    .pr-lg-80 {
        padding-right: 80px !important;
    }

    .ptb-lg-80 {
        padding-top: 80px !important;
        padding-bottom: 80px !important;
    }

    .plr-lg-80 {
        padding-left: 80px !important;
        padding-right: 80px !important;
    }

    .mt-lg-80 {
        margin-top: 80px !important;
    }

    .mb-lg-80 {
        margin-bottom: 80px !important;
    }

    .ml-lg-80 {
        margin-left: 80px !important;
    }

    .mr-lg-80 {
        margin-right: 80px !important;
    }

    .mtb-lg-80 {
        margin-top: 80px !important;
        margin-bottom: 80px !important;
    }

    .mlr-lg-80 {
        margin-left: 80px !important;
        margin-right: 80px !important;
    }

    .pt-lg-90 {
        padding-top: 90px !important;
    }

    .pb-lg-90 {
        padding-bottom: 90px !important;
    }

    .pl-lg-90 {
        padding-left: 90px !important;
    }

    .pr-lg-90 {
        padding-right: 90px !important;
    }

    .ptb-lg-90 {
        padding-top: 90px !important;
        padding-bottom: 90px !important;
    }

    .plr-lg-90 {
        padding-left: 90px !important;
        padding-right: 90px !important;
    }

    .mt-lg-90 {
        margin-top: 90px !important;
    }

    .mb-lg-90 {
        margin-bottom: 90px !important;
    }

    .ml-lg-90 {
        margin-left: 90px !important;
    }

    .mr-lg-90 {
        margin-right: 90px !important;
    }

    .mtb-lg-90 {
        margin-top: 90px !important;
        margin-bottom: 90px !important;
    }

    .mlr-lg-90 {
        margin-left: 90px !important;
        margin-right: 90px !important;
    }
}
.fz-2 {
    font-size: 2px !important;
}

.fz-4 {
    font-size: 4px !important;
}

.fz-6 {
    font-size: 6px !important;
}

.fz-8 {
    font-size: 8px !important;
}

.fz-10 {
    font-size: 10px !important;
}

.fz-12 {
    font-size: 12px !important;
}

.fz-14 {
    font-size: 14px !important;
}

.fz-16 {
    font-size: 16px !important;
}

.fz-18 {
    font-size: 18px !important;
}

.fz-20 {
    font-size: 20px !important;
}

.fz-22 {
    font-size: 22px !important;
}

.fz-24 {
    font-size: 24px !important;
}

.fz-26 {
    font-size: 26px !important;
}

.fz-28 {
    font-size: 28px !important;
}

.fz-30 {
    font-size: 30px !important;
}

.fz-32 {
    font-size: 32px !important;
}

.fz-34 {
    font-size: 34px !important;
}

.fz-36 {
    font-size: 36px !important;
}

.fz-38 {
    font-size: 38px !important;
}

.fz-40 {
    font-size: 40px !important;
}

.fz-42 {
    font-size: 42px !important;
}

.fz-44 {
    font-size: 44px !important;
}

.fz-46 {
    font-size: 46px !important;
}

.fz-48 {
    font-size: 48px !important;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
    .no-margin-xs {
        margin: 0;
    }

    .no-padding-xs {
        padding: 0;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
    .no-margin-xs {
        margin: 0;
    }

    .no-padding-xs {
        padding: 0;
    }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    .no-margin-sm {
        margin: 0;
    }

    .no-padding-sm {
        padding: 0;
    }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    .no-margin-md {
        margin: 0;
    }

    .no-padding-md {
        padding: 0;
    }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    .no-margin-lg {
        margin: 0;
    }

    .no-padding-lg {
        padding: 0;
    }
}
.color-white {
    color: #fff !important;
}

.color-black {
    color: #000 !important;
}

.lh-0 {
    line-height: 0 !important;
}
