
header,
#copy {
    background: #E61418;
}

header {
    padding: 20px 0;
}

#copy {
    color: white;
    padding: 20px;
}

#logo {
    margin-top: 0;
    /* display: flex; */
    justify-content: flex-start;
    align-items: flex-end;
}

#logo a {
    /* float: left; */
}

#logo .logo-citymover img {
    width: 134px;
	 height: 20px;
	 margin-top: 6px;
}

#logo .logo-partner img {
    height: 25px;
}

body {
    font-family: "Lato", sans-serif;
}

.color-red, a:hover, a:focus {
    color: #E61418
}

.bg-citymover {
    background: #82b259;
}

.qty-changer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.qty-changer-left {
    justify-content: flex-start;
}

.qty-changer a:focus {
    color: white;
}

.qty-changer a {
    line-height: 20px;
}

.qty-changer .btn-minus {
    margin-left: 5px;
}

.qty-changer .btn-plus {
    margin-right: 5px;
}

.qty-changer input {
    /*width: 100px;*/
}

#copy {
    font-size: 15px;
}

#copy p {
    margin: 0px;
}


#copy img {
	 height: 20px;
	 margin-top: 10px;
}