/*
1. SITE STRUCTURE and TYPOGRAPHY
- 1.1 Typography
- 1.2 Buttons
- 1.3 Structure
2. CONTENT
- 2.1 Home
- 2.2 About
- 2.3 Removals
- 2.4 Quotation
- 2.5 Quotation wizard
- 2.6 Tips / faq
- 2.7 Contact us
3. COMMON
- Tooltips
- Containers styles
- Form styles
- Tabs, collapse
- etc

/*============================================================================================*/
/* 1.  SITE STRUCTURE and TYPOGRAPHY */
/*============================================================================================*/
/*-------- Allert for old browsers IE8 and below --------*/
.chromeframe{background:#ddd;color:#000;padding: 0.2em;position: fixed; top: 0; left: 0; text-align: center; z-index:9999; width: 100%;}
.chromeframe a{color:#ed1c24;}

/*-------- 1.1 Typography --------*/
body {background:#fff; font-size:15px; line-height:18px; font-family:'Roboto', Arial, sans-serif; color:#565a5c;-webkit-font-smoothing: antialiased;}

h1, h2, h3, h4, h5, h6{-webkit-font-smoothing:antialiased; color:#333;}
h3{ font-size:22px;}
.citymover {color:#A3D869;font-weight:600;}

/*General links color*/
a {color:#000; text-decoration:none; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; outline:none;}
a:hover,a:focus {color:#E61418; text-decoration:none; outline:none;}

a.link_normal{
    position:relative;
    font-weight:500;
}
a.link_normal:after{
    font-style: normal;
    font-weight: normal;
    font-family: 'ElegantIcons';
    content: "\24";
    top:3px;
    position:relative;
    margin-left:3px;
}
a.link_normal:hover{
    text-decoration:none;
}
p {margin: 0 0 25px 0;}
.main_title {
    background-color:rgba(0, 0, 0, 0.3);
    display:inline-block;
    padding:15px 15px 0 15px;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px dotted #ddd;
}

/*-------- 1.2 Buttons --------*/
a.button_intro, .button_intro  {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color:#fff !important;
    background:#999;
    cursor: pointer;
    padding: 10px 35px;
    display: inline-block;
    outline: none;
    font-size:12px;
    text-align:center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform:uppercase;
    font-weight:bold;
    -webkit-transition: none;
    transition:none;
}
a.button_intro:hover, .button_intro:hover {
    background: #A3D869;
}
a.btn_1, .btn_1{
    border: none;
    font-family: inherit;
    font-size: inherit;
    color:#fff;
    background: #A3D869;
    cursor: pointer;
    padding: 7px 20px;
    display: inline-block;
    outline: none;
    font-size:12px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform:uppercase;
    font-weight:bold;
}

a.btn_1.white, .btn_1.white  {background: #fff; color:#A3D869;}
a.btn_1.white:hover, .btn_1.white a:hover  {background: #333; color:#fff;}

a.btn_1.outline,.btn_1.outiline, input .btn_1.outiline{
    color:#555;
    background: none;
    border:2px solid #555;
    padding: 5px 18px;
}
a.btn_1.outline:hover,.btn_1.outiline:hover, input .btn_1.outiline:hover{
    color:#fff;
    background:#e04f67;
    border:2px solid #e04f67;
}
a.btn_1.medium, .btn_1.medium  {
    padding: 10px 25px;
    font-size:14px;
}
a.btn_1:hover, .btn_1:hover {
    background: #719847;
}
a.btn_quote{
    border: none;
    font-family: inherit;
    font-size: inherit;
    color:#fff;
    background:none;
    cursor: pointer;
    padding: 7px 30px;
    display: inline-block;
    outline: none;
    font-size:14px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform:uppercase;
    font-weight:bold;
    border:2px solid #fff;
    float:right;
    white-space:nowrap;
    text-shadow:none;
}
a.btn_quote:hover{
    color:#A3D869;
    background:#fff;
}
a.btn_full, .btn_full{
    border: none;
    font-family: inherit;
    font-size: inherit;
    color:#fff;
    width:100%;
    background: #85c99d;
    cursor: pointer;
    padding: 12px 20px;
    display: inline-block;
    outline: none;
    font-size:12px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform:uppercase;
    font-weight:bold;
    display:block;
    text-align:center;
    margin-bottom:10px;
}

/*-------- 1.3 Structure --------*/
/* Header */
#top_line{
    height:28px;
    font-size:14px;
    border-bottom:1px solid rgba(0,0,0,0.1);
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    visibility:visible;
    opacity:1;
    margin-bottom:10px;
}
#tag_line{
    padding-left:30px;
    font-size:16px;
    font-style:italic;
    color:#fff;
}
ul#phone_email_header{
    list-style:none;
    margin:0;
    padding:0 10px 0 0;
    float:right;
    font-weight:400;
}
ul#phone_email_header li#phone_header, ul#phone_email_header li#email_header{
    position:relative;
    padding-left:25px;
}
ul#phone_email_header li{
    color:#fff;
    display:inline-block;
    border-right: 1px solid rgba(255,255,255,0.3);
    margin-left:10px;
    padding-right:10px;
}
#phone_header:before, #email_header:before{
    font-style: normal;
    font-weight: normal;
    font-family: 'ElegantIcons';
    position:absolute;
    font-size:16px;
    left:0;
    top:0;
}
#phone_header:before{
    content: "\e00b";
    top: -2px;
}
#email_header:before{
    content: "\e010";
    top: -3px;
}
ul#top_links{
    list-style:none;
    margin:0;
    padding:0;
    float:right;
    font-weight:400;
}
ul#top_links li{
    display:inline-block;
    border-left: 1px solid rgba(255,255,255,0.3);
    margin-right:8px;
    padding-left:10px;
}
ul#top_links li:first-child{
    border-left: none;
    padding-left:0;
}
#logo{margin-top:7px;}

header{
    width:100%;
    padding:10px 0 0 0;
    background-color:#A3D869;
    z-index:99999;
    position:relative;
}
header a{
    color:#fff;
}
header a:hover{
    text-decoration:underline;
    color:#fff;
}
header.sticky #top_line{
    height: 0;
    overflow:hidden;
    padding:0;
    opacity:0;
    visibility:visible;
}
header.sticky{
    -webkit-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.41);
    -moz-box-shadow:0px 2px 10px -2px rgba(0, 0, 0, 0.41);
    box-shadow:0px 2px 10px -2px rgba(0, 0, 0, 0.41);
    background-color:#A3D869;
    padding-bottom:0;
    position:fixed;
    top:0;
    left:0;
    z-index:99999;
}
nav{ margin-top:15px}
.sticky nav{ margin-top:10px}
.sticky #logo{ margin-top:0; margin-bottom:10px;}
#sub_header{
    height: 150px;
    background: #A3D869 url(../img/sub_header.jpg) no-repeat center center;
    color:#fff;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding-top:76px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    position: relative;
}

#sub_header::before{
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

}

#sub_header h1{
    color:#fff;
    margin:0;
    font-size:24px;
    font-weight:700;
}
#sub_header h1:before{
    content:'//';
    margin-right:5px;
}
#sub_header .main_title p{
    margin-bottom:15px;
    font-size:14px;
}
/* Footer  */
footer {
    background:#222;
    color:#fff;
    padding:30px 0 10px 0;
}
footer h3{
    font-size:16px;
    font-weight:700;
    color:#fff;
    text-transform:uppercase;
}
footer a{
    color:#fff !important;
    text-decoration: none !important;
}
footer a:hover{
    color:#A3D869;
}
footer ul{
    margin:0;
    padding: 0 0 20px 0;
    list-style:none;
}
#social_footer{
    text-align:center;
    border-top:1px dotted rgba(255,255,255,0.2);
    padding-top:20px;
    margin-top:10px;
}
#footer-logos ul{
    float: left;
    margin:0;
    text-align:left;
}
#footer-logos ul li{
    display:inline-block;
    margin:0 25px 0 0;
}
ul#footer-logos li:last-child{
    margin-right:0;
}
#footer-social p{
    font-size:12px;
    color:#8c8c8c;
}
#footer-social ul{
    float: right;
    margin:0;
    padding:10px 0 15px 0;
    text-align:right;
}
#footer-social ul li{
    display:inline-block;
    margin:0 5px 10px 5px;
}
#footer-social ul li a{
    color:#fff;
    text-align:center;
    line-height:34px;
    display:block;
    font-size:16px;
    width:35px;
    height:35px;
    border:1px solid rgba(255,255,255,0.3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
#footer-social ul li a:hover{
    border:1px solid #fff;
    background:#fff;
    color:#111 !important;
}
#contact_bg{
    background:url(../img/map_footer.png) no-repeat bottom center;
}
ul#contact_details_footer{
    list-style:none;
    margin:0 0 20px 0;
    padding:0;
}
ul#contact_details_footer li{
    margin-bottom:20px;
}
ul#contact_details_footer li#address_footer, ul#contact_details_footer li#phone_footer, ul#contact_details_footer li#email_footer, ul#contact_details_footer li#gps_footer, ul#contact_details_footer li#fax_footer{
    position:relative;
    padding-left:30px;
}

#address_footer:before, #phone_footer:before, #email_footer:before, #gps_footer:before, #fax_footer:before{
    font-style: normal;
    font-weight: normal;
    font-family: 'ElegantIcons';
    position:absolute;
    font-size:20px;
    left:0;
    top:0;
}

#fax_footer:before{
    content: "\e103";
}

#gps_footer:before{
    content: "\e01d";
}

#address_footer:before{
    content: "\e009";
}
#phone_footer:before{
    content: "\e00b";
}
#email_footer:before{
    content: "\e010";
    top:-3px
}
#copy{
    background-color:#A3D869;
    padding:20px 0 15px 0;
    text-align:left;
    color:#333;
    font-size:13px;
}
#copy img{
    /* float:right; */
}

#copy p{
    margin-bottom: 10px;
}

/*============================================================================================*/
/* 2.  CONTENT  */
/*============================================================================================*/
/*-------- 2.1 Home --------*/

#get_quote {
    /*background:#663366 url(../img/pattern_green.png) repeat;*/
    padding:30px 0;
    color:#fff;
}
#get_quote.green {
    background:#A3D869 url(../img/pattern_green.png) repeat;
    padding:30px 0;
    color:#fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
#get_quote{
    background: #CCCC99;
}
#get_quote h3{
    color:#fff;
    margin:5px 0 0 0;
    font-family: 'Bad Script', cursive;
    font-size:28px;
    font-weight:bold;
}
.box_style_1.home {
    padding:20px;
    padding-bottom:5px;
}
.box_style_1.home ul.feat li{
    border-bottom:1px dotted #ccc;
    margin-bottom:15px;
}
.box_style_1.home ul.feat li p{
    margin-bottom:15px;
}
.box_style_1.home ul.feat li:last-child{
    border-bottom:0;
}
.box_style_1.home ul.feat li:last-child p{
    margin-bottom:0;
}
.box_style_1.home h3{
    background-color:#333;
    text-align:center;
    color:#fff;
    padding:15px 10px ;
    text-transform:uppercase;
    font-size:18px;
    margin:-20px -20px 20px -20px;
    border-bottom:2px solid #fff;
}
#how_to{
    background: #A3D869 url(../img/pattern_green.png) repeat;
    padding:60px 0 30px 0;
    color:#fff;
    font-size:14px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-weight:500;
}
#how_to h3{
    font-family: 'Bad Script', cursive;
    color: #fff;
    font-size:36px;
    font-weight:normal;
    margin-bottom:0;
}
#how_to h4{
    color:#fff;
    text-transform:uppercase;
    font-size:18px;
    font-weight:bold;
    color: #FFC;
}
#how_to h4:before,#how_to h4:after {
    display: inline-block;
    width: 20px;
    height: 1px;
    content: '';
    vertical-align: middle;
    background: rgba(255,255,255,0.5);
}
#how_to h4:before{
    margin-right: 10px;
}
#how_to h4:after {
    margin-left: 10px;
}

/* Home 2 */
#feat_home{
    background-color:#CCCC99;
    color:#fff;
}
.box_feat_2{
    text-align:center;
    padding:30px 30px 0 30px;
}
.box_feat_2 h3{
    color:#A3D869;
}
.box_feat{
    background-color:#603160;
    color:#fff;
    text-align:center;
    padding:20px 20px 10px 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top:15px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.box_feat h3{
    color:#FFC;
}
.box_feat h3:before, .box_feat h3:after{
    content:'/';
    color:#fff;
}
.box_feat h3:before{
    margin-right:10px;
}
.box_feat h3:after{
    margin-left:10px;
}
#feat_home h2{
    font-family: 'Bad Script', cursive;
    color: #FFC;
    font-size:36px;
    font-weight:normal;
    margin-bottom:0;
}
.intro_title{display:table-cell;vertical-align:middle;}
.intro_title h1 {
    font-size: 45px;
    margin-bottom:5px;
    color:#fff;
    font-weight:bold;
    text-transform:uppercase;
}

/*-------- 2.2 About us --------*/
#intro{
    text-align:center;
}
#intro h2{
    text-transform:uppercase;
    font-weight:700;
    margin-top:0;
}
#intro p{
    font-size:20px;
    line-height:24px;
}
#home_intro h2{
    font-weight:700;
    color:#A3D869;
    text-transform:uppercase;
}
#home_intro p{
    margin-top:20px;
    line-height:20px;
}
ul.feat#about{
    list-style:none;
    margin: 20px 0 20px 0;
    padding:0;
}
ul.feat#about li{
    margin-bottom:20px;
    padding:10px 20px 0 90px;
    border:1px solid #d3eddc;
    background-color:#edf8f1;
}
ul.feat#about li h4{
    color:#A3D869;
}
ul.feat#about li p{
    margin-bottom:20px;
}
ul.feat#about li img{
    position:absolute;
    left:20px;
    top:20px;
}
#testimonials {
    /*background: #fafafa;*/
    padding:30px 0 60px 0;
}
/* carousel */
#quote-carousel {
    padding: 0 10px 40px 10px;
}
#quote-carousel small{
    color:#999;
}
/* Previous button  */
#quote-carousel .carousel-control.left {
    left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right {
    right: -12px !important;
}
#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    background: #ccc;
    border:none;
}
#quote-carousel .carousel-indicators .active {
    background: #1c1c1c;
}
#quote-carousel img{
    width: 100px;
    height: 100px;
    border:3px solid #fff;
}
.item blockquote {
    border-left: none;
    margin: 0;
    font-family: 'Bad Script', cursive;
    text-align:center;
    font-size:24px;
    line-height:28px;
}
.item blockquote img {
    margin-bottom: 20px;
}
.item blockquote small{
    font-family: 'Roboto', Arial;
}
/*-------- 2.3 Removals--------*/
.box_style_1 {
    padding:10px;
    position:relative;
    background:#f9f9f9;
    margin-bottom:20px;
}
.box_style_3 {
    background:#619979 url(../img/pattern_green.png) repeat;
    padding:30px 20px 10px 20px;
    color:#fff;
}
.box_style_3 h4{
    color:#fff;
    text-transform:uppercase;
    font-size:16px;
}
.box_style_3 h4:before,.box_style_3 h4:after {
    display: inline-block;
    width: 20px;
    height: 1px;
    content: '';
    vertical-align: middle;
    background: rgba(255,255,255,0.5);
}
.box_style_3 h4:before{
    margin-right: 10px;
}
.box_style_3 h4:after {
    margin-left: 10px;
}
ul#cat_nav{
    list-style:none;
    margin:0 0 0 0;
    padding:0;
    font-weight:500;
}
ul#cat_nav li a{
    background-color:#fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    padding:10px;
    display:block;
    margin-bottom:7px;
    position:relative;
}
ul#cat_nav li a#active{
    background-color:#A3D869;
    color:#fff;
}
ul#cat_nav li:last-child a{
    margin-bottom:0;
}
ul#cat_nav li a:before{
    position:relative;
    font-style: normal;
    font-weight: normal;
    font-family: 'ElegantIcons';
    position:absolute;
    font-size:20px;
    right:5px;
    top:9px;
    content: "\35";
}
img.img-responsive.border{
    border-bottom:3px solid #A3D869
}
ul.feat{
    list-style:none;
    margin: 0 0 20px 0;
    padding:0;
}
ul.feat li{
    padding-left:70px;
    position:relative;
}
ul.feat li img{
    position:absolute;
    left:0;
    top:0;
}
.strip h4{
    margin-top:0;
}
.strip{
    padding:40px 0 20px 0;
    border-top:1px dashed #ddd;
}

/*-------- 2.4 Quotation --------*/
.form_title{
    position:relative;
    padding-left:55px;
    margin-bottom:10px;
}
.form_title h3 strong{
    background-color:#A3D869;
    text-align:center;
    width:40px;
    height:40px;
    display:inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color:#fff;
    font-size:18px;
    line-height:40px;
    text-align:center;
    position:absolute;
    left:0;
    top:0;
}
.form_title h3{
    margin:0;
    padding:0;
}
.form_title p{
    color:#999;
    margin:0;
    padding:0;
    font-size:12px;
    line-height:14px;
}
.step{
    border-left: 1px solid #ddd;
    padding:20px 0 20px 31px;
    margin:0 0 10px 20px;
}
.form_title p{
    color:#999;
    margin:0;
    padding:0;
    font-size:13px;
    line-height:14px;
}
.form-group.options{
    border-bottom: 1px dotted #ddd;
    padding-bottom:30px;
    margin-bottom:15px;
}
.form-group.options strong{
    position:relative;
    top:5px;
}
/* Error validate style */
label.error{
    font-size:11px;
    position: absolute;
    top:-12px;
    right:0;
    z-index:99;
    height:25px;
    line-height:25px;
    background-color:#e34f4f;
    color:#fff;
    font-weight:normal;
    padding:0 6px;
}
label.error:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 6px 6px 0;
    border-color: transparent #e34f4f;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -6px;
    left: 20%;
}

/*-------- 2.5 Quotation --------*/
.button-back {float: left; }
.button-next {float: right; }
a.button-back, a.button-next {text-decoration:none; color:#fff; }
.button-back, .button-next {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color:#fff;
    background: #A3D869;
    cursor: pointer;
    padding: 7px 20px;
    display: inline-block;
    outline: none;
    font-size:12px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform:uppercase;
    font-weight:bold;
    margin-top:20px;
}
.button-back:hover, .button-next:hover{background: #333; text-decoration: none; }
#custom .step {clear:left;background:#fafafa; padding:30px; margin:0; border:0;}
#custom .step label {display: block; margin-bottom:3px;  position:relative;}
#custom .step legend { font-size:11px}

ul.stepy-titles { margin:0; padding:0;}
.stepy-titles { list-style: none; margin: 0; padding: 0; width: 100%; margin-bottom:0; height:40px; }
.stepy-titles li:first-child {margin-left:0;}
.stepy-titles li { cursor: pointer; float: left; padding: 7px 20px; background:#f0f0f0; font-weight:600; margin-bottom:2px;  margin-left:2px; position:relative; font-size:16px; }
.stepy-titles li span { font-size:11px; display: block; font-weight:normal; }
.stepy-titles .current-step { cursor: auto; background:#A3D869; padding: 7px 20px; color:#fff;}

.form-control.error{ background:#fdf5f5}
.stepy-error{ display:block;}
.stepy-error label.error {
    background: #e34f4f url(../img/alert.png) no-repeat 5px center;
    color: #fff;
    display: block;
    display:inline-block;
    font-size: 12px ;
    padding: 6px 10px 0px  25px;
    margin:8px 5px 2px 0;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -opera-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position:static;
    line-height:normal;
}
.stepy-error label.error:after {border-width:0;}
input[type="submit"].finish{
    border: none;
    font-family: inherit;
    font-size: inherit;
    color:#fff;
    background: #333;
    cursor: pointer;
    padding: 7px 20px;
    display: inline-block;
    outline: none;
    font-size:12px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform:uppercase;
    font-weight:bold;
    float:right;
    margin-top:20px;
}
input#website {display:none;}
.modal-dialog {margin-top:80px;}

/*-------- 2.6 Tips/faq --------*/
.box_style_4{
    background:#fafafa;
    padding:15px;
    margin-bottom:20px;
    border-top: 3px solid #A3D869;
}
.box_style_4 ul{
    padding:0 0 0 25px;
    margin:0 0 0 0;
}
.box_style_4 ul li{
    margin: 0 0 10px 0;
}

/*-------- 2.7 Contacts --------*/
#map {width:100%; height:350px; border:3px solid #ededed;}
.box_style_4 h3{margin-top:0;}
.error_message {font-weight:bold; color:#e34f4f; margin-bottom:5px}

/*============================================================================================*/
/* 3.  COMMON  */
/*============================================================================================*/
.gray_bg {
    background-color:#fafafa;
}
.box_style_2 {
    padding:10px 25px 0 25px;
    margin-bottom:20px;
    border:1px dashed #ddd;
}
.box_style_2 h4{
    margin:10px 0 20px;
}
.box_style_2 ul{
    padding-left:20px;
    padding-bottom:10px;
}
.box_style_2 ul li{
    margin-bottom:10px;
}
.box_style_2 ul li:last-child{
    margin-bottom:0;
}
.quote_banner a{
    background-color:#A3D869;
    color:#fff;
    display:block;
    padding:17px 15px 15px 45px;
    margin-bottom:20px;
    font-size:16px;
    font-weight:700;
    text-transform:uppercase;
}
.quote_banner{
    position:relative;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.quote_banner:before{
    font-style: normal;
    font-weight: normal;
    font-family: 'ElegantIcons';
    content: "\e0ee";
    top:15px;
    font-size:18px;
    margin-right:5px;
    position:absolute;
    left:15px;
    color:#fff;
}
.quote_banner a:hover{
    background-color:#333;
}
/* Input form style */
.form-control {
    font-size: 14px;
    color: #333;
    border-radius: 3px;
}
#booking .form-group{
    position:relative;
}
.form-group{
    width:100%;
}
/* Scroll top button */
#toTop {
    width:40px;
    height:40px;
    background-color:rgba(0, 0, 0, 0.6);
    text-align:center;
    padding:10px;
    line-height:20px;
    position:fixed;
    bottom:10px;
    right:10px;
    cursor:pointer;
    display:none;
    color:#fff;
    font-size:20px;
}
#toTop:before{
    font-style: normal;
    font-weight: normal;
    font-family: "fontello";
    content: "\e814";
}
/*Spacing*/
.nopadding {margin: 0 !important;padding: 0 !important;}
.nomargin {margin:0 !important}
.add_bottom_15 {margin-bottom:15px;}
.add_bottom_30 {margin-bottom:30px;}
.add_bottom_45 {margin-bottom:45px;}
.add_bottom_60 {margin-bottom:60px;}

/*List*/
ul.list_ok {
    list-style:none;
    margin: 0 0 20px 0;
    padding:0;
    line-height:22px;
}
ul.list_ok li {
    position:relative;
    padding-left:25px;
}
ul.list_ok li:before {
    font-style: normal;
    font-style: normal;
    font-family: 'ElegantIcons';
    font-size:14px;
    content: "\4e";
    color:#A3D869;
    position:absolute;
    left:0;
    top:0;
}
ul.list_order {
    list-style:none;
    margin: 0 0 30px 0;
    padding:0;
    line-height:30px;
    font-size:14px;
}
ul.list_order li {
    position:relative;
    padding-left:40px;

    margin-bottom:10px;
}
ul.list_order li span {
    background-color:#e04f67;
    color:#fff;
    position:absolute;
    left:0;
    top:0;
    text-align:center;
    font-size:18px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width:30px;
    height:30px;
    line-height:30px;
}
ul.list_2 {
    list-style:none;
    margin: 0 0 20px 0;
    padding:0;
}
ul.list_2 li {
    position:relative;
    padding-left:20px;
    margin-bottom:5px;
}
ul.list_2 li:before {
    font-style: normal;
    font-style: normal;
    font-family: 'ElegantIcons';
    font-size:14px;
    content: "\5c";
    color:#A3D869;
    position:absolute;
    left:0;
    top:0;
}

/* Margin tools */
.margin_60 {padding-top:60px; padding-bottom:60px;}
.margin_45 {margin-top:45px; margin-bottom:45px;}
.margin_30 {margin-top:30px; margin-bottom:30px;}

/* Bg Content */
.bg_content{
    display: table;
    width:100%;
    height:470px;
    background: url(../img/bg_parallax.jpg) no-repeat center center;
    background-size:cover;
}
.bg_content > div{
    display: table-cell;
    padding:0 10%;
    vertical-align: middle;
    text-align:center;
    color:#fff;
    font-size:16px;
    font-weight:bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.bg_content div h3{
    font-size:48px;
    text-transform:uppercase;
    font-weight:bold;
    color:#fff;
}
.bg_content div h3{
    margin-bottom:0;
}
.bg_content div h3:before,.bg_content div h3:after {
    display: inline-block;
    width: 50px;
    height: 1px;
    content: '';
    vertical-align: middle;
    background: rgba(255,255,255,0.5);
}
.bg_content div h3:before{
    margin-right: 10px;
}

.bg_content div h3:after {
    margin-left: 10px;
}
.bg_content div a i{
    color:#fff;
    opacity:0.5;
    font-size:72px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.bg_content div a:hover i{
    opacity:1;
}
#position{
    color:#fff;
    font-size:13px;
    margin-top:42px;
}
#position ul li:first-child{
    padding-left:20px;
}
/*#position ul li:first-child:before{*/
/*content:'\eaf4';*/
/*font-style: normal;*/
/*font-weight: normal;*/
/*font-family: "fontello";*/
/*position:absolute;*/
/*left:0;*/
/*top:1px;*/
/*color:#fff;*/
/*}*/
#position ul{
    margin:0;
    padding:0;
    float:right;
}
#position ul li a{
    color:#fff;
    opacity:0.7;
}
#position ul li a:hover{
    color:#fff;
    opacity:1;
}
#position ul li{
    display:inline-block;
    padding-right:8px;
    margin-right:3px;
    position:relative;
}
/*#position ul li:after{*/
/*content:'\e9ee';*/
/*font-style: normal;*/
/*font-weight: normal;*/
/*font-family: "fontello";*/
/*position:absolute;*/
/*right:0;*/
/*top:1px;*/
/*}*/
#position ul li:last-child:after{
    content:'';
}
/*Banners*/
.banner{
    position:relative;
    background:#fff url(../img/bg_banner.jpg) no-repeat right bottom;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding:25px;
    margin-bottom:30px;
}
.banner:after, .banner:before{
    position:absolute;
    content:"";
    z-index:1;
    height:18px;
    width:50%;
    top:100%;
}
.banner:after{
    left:0;
    background: url(../img/shadow-bg.png) no-repeat top left;
}
.banner:before{
    right:0;
    background: url(../img/shadow-bg.png) no-repeat top right;
}
.banner a{
    position:absolute;
    top:35%;
    right:30px;
    text-shadow: none;
}
.banner h4{
    text-transform:uppercase;
    font-weight:bold;
    font-size:32px;
    margin:0;
    padding:0;
    color:#333;
    /* font-family: 'Bad Script', cursive; */
    font-family: 'Gochi Hand', cursive;
}
.banner h4 span{
    text-transform:none;
    color:#ee632c;
}
.banner p{
    margin:0;
    padding:0 200px 0 0;
    font-weight:500;
    color:#333;
}
.banner.colored{
    background:#A3D869 url(../img/pattern_lines.png) repeat;
    color:#fff;
    padding-left:110px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.banner.colored h4, .banner.colored p{
    color:#fff;
}
.banner.colored h4 span{
    color: #FFC;
}
.banner.colored  img{
    position:absolute;
    top:20px;
    left:15px;
}

/*Preloading*/
#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    width:100%;
    height:100%;
    bottom:0;
    background-color:#fff;
    z-index:999999;
}
.sk-spinner-wave.sk-spinner {
    margin:-15px 0 0 -25px;
    position:absolute;
    left:50%;
    top:50%;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px;
}
.ie8 .sk-spinner-wave.sk-spinner {display:none;}
.sk-spinner-wave div {
    background-color: #ccc;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
    animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
}
.sk-spinner-wave .sk-rect2 {-webkit-animation-delay: -1.1s;animation-delay: -1.1s;}
.sk-spinner-wave .sk-rect3 {-webkit-animation-delay: -1s;animation-delay: -1s; }
.sk-spinner-wave .sk-rect4 {-webkit-animation-delay: -0.9s;animation-delay: -0.9s;}
.sk-spinner-wave .sk-rect5 { -webkit-animation-delay: -0.8s;animation-delay: -0.8s;}

@-webkit-keyframes sk-waveStretchDelay {
    0%, 40%, 100% {-webkit-transform: scaleY(0.4);transform: scaleY(0.4);}

    20% { -webkit-transform: scaleY(1);transform: scaleY(1);}
}
@keyframes sk-waveStretchDelay {
    0%, 40%, 100% {-webkit-transform: scaleY(0.4);transform: scaleY(0.4);}
    20% { -webkit-transform: scaleY(1);transform: scaleY(1);}
}

/** Collapse **/
.panel {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow:none;
}
.panel-title a {display:block; color:#A3D869;}
.panel-default > .panel-heading {
    background-color: #f9f9f9;
}
.panel-heading {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.panel-group .panel {
    border-radius: 0;
}


.loader { margin-left:5px; position:absolute;}

/** Blockquote **/
blockquote.styled{
    font-family: 'Bad Script', cursive;
    line-height: 1.42857143;
}

/** tabs **/
.tab-content{
    padding:30px;
    background-color:#fff;
    border:1px solid #ddd;
    border-top:none;
    margin-bottom:25px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#quotation{
    /* background: #A3D869;  verde */
    background: url(../img/form-bg.gif) bottom right no-repeat #747474;


}

#quotation input[type=radio]{
    margin: 0 5px 0 0;
}

#quotation label{
    color: #fff;
    margin-bottom: 10px;
}

#quotation label:hover{
    cursor: pointer;
}

.no-margin-bottom{
    margin-bottom: 0;
}

.quotation-title{
    background: #A3D869;
    padding: 10px 15px;
}

.quotation-title h2{
    font-family: "Roboto";
    margin: 0;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 18px;
    color: #FFF;

}

.default-padding{
    padding: 15px;
}

.slider-icon i{
    color: #fff;
    font-size: 2em;
}

.mudanca-toggle-home:hover, .mudanca-toggle-office:hover{
    cursor: pointer;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.form-title-label{
    color: #A3D869;
}

label.inline{
    display: inline !important;
}

#custom .step label.inline{
    margin: 0 10px 0 0;
}

.custom-ls-l{
    background: red !important;
    position: absolute;
    left: 30%;
}

#layerslider_28{

}

.custom-ls-l, .custom-ls-r{
    top:0;
    height: 100% !important;
    width: 30% !important;
    background: #343434 !important;
}

.custom-ls-r{
    right: 0 !important;
}

.custom-ls-l{
    left:0 !important;
}

.ls-slide a.button_intro{
    font-size: 1em;
}

.sm-class-title{
    text-align: center;
    font-weight: 700;
    color: #A3D869;
    text-transform: uppercase;
    display: block;
    font-size: 2em;
    line-height: 1.3em;
}

.sm-list{
    font-size: 1em;
    text-align: center;
}

ul.sm-list li {
    padding-left:0;
}

ul.sm-list li:before {
    font-style: normal;
    font-style: normal;
    font-family: 'ElegantIcons';
    font-size: 14px;
    content: "\4e";
    color: #A3D869;
    position: relative;
    margin: 2px 5px 0 0;
}

.sm-image{
    display: block;
    margin: 35px auto;
    max-width: 80%;
    text-align: center;
}

.sm-image img{
    border-radius: 100%;
    border: 3px dashed #A3D869;
}

@media screen and (max-width: 768px){
    video {
        width: 100%    !important;
        height: auto   !important;
        margin: 0 0 20px 0;
    }
}



.video-js{
    max-width: 100%;
    width: 100% !important;
}

.fx-airplane{
    position: absolute;
    right: -25px;
    top: -5px;
    width: 160px;
}

.btn-delivery-truck{
    background: url(../img/carrinha-citymover.png) no-repeat !important;
    position: absolute !important;
    padding: 25px 25px 0 25px !important;
    width: 185px !important;
    right: -25px !important;
    color: #fdfdfd !important;
    text-align: left !important;
    height: 110px !important;
    bottom: -55px !important;
    font-weight: bold !important;
    font-size: 1.2em !important;
    -webkit-transition: all 0.15s ease-out !important;
    -moz-transition: all 0.15s ease-out !important;
    -ms-transition: all 0.15s ease-out !important;
    -o-transition: all 0.15s ease-out !important;
    transition: all 0.15s ease-out !important;
    z-index: 2 !important;
    text-decoration: none;
}

.btn-delivery-truck:hover{
    color: #fff;
    right: -45px;
}

.fx-smoke{
    display: none;;
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 60px;
    height: 40px;
    background: blue;
    z-index: 1;
    opacity: 0;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.btn-delivery-truck:hover .fx-smoke{
    left: -50px;
    opacity: 1;
}

.ls-bottom-slidebuttons{
    display: none !important;
}/* noty messages */


div#notify-messages{
    display: none;
}

.inline-list li{
    display: inline;
}

.other-links li{
    margin-right: 10px;
}

.page-404 .sign{
    font-size: 200px;
    line-height: 200px;
    margin:0;
}

.page-freepage h1.text-title{
    margin-bottom: 30px;
}

.MServicos .kwicks{
    list-style: none;
    padding: 0;
}

.MServicos .kwicks > li{
    float: left;
    width: 48%;
    margin: 20px 1%;
    /*padding: 16px;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: 115%;
    min-height: 250px;
    position: relative;
}

.MServicos .kwicks > li:nth-child(odd){
    clear: both;
}

.MServicos .kwicks > li h1{
    width: 100%;
    background: #222;
    color: #FFF;
    padding: 10px;
    margin:0;
}

.MServicos .kwicks > li .features{
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    background: rgba(0,0,0,.8);
    max-width: 80%;
    color: #FFF;
    list-style: none;
}

.MServicos .kwicks #kwick1{ background-image: url('../../files/image/mudancas.jpg'); }
.MServicos .kwicks #kwick2{ background-image: url('../../files/image/transitario.jpg'); }
.MServicos .kwicks #kwick3{ background-image: url('../../files/image/transitario-armazem-alfandegado.jpg'); }
.MServicos .kwicks #kwick4{ background-image: url('../../files/image/arquivos.jpg'); }
.MServicos .kwicks #kwick5{ background-image: url('../../files/image/tecnologia.jpg'); }
.MServicos .kwicks #kwick6{ background-image: url('../../files/image/logistica.jpg'); }
.MServicos .kwicks #kwick7{ background-image: url('../../files/image/mudancas-internacionais.jpg'); }

.MParceiros table td{
    padding: 16px;
}

.page-imprensa .press ul{
    list-style: none;
}

.page-imprensa .press ul li{
    width: 31%;
    float: left;
    margin: 10px 1%;
    position: relative;
    min-height: 180px;
    max-height: 180px;
    overflow: hidden;
    border: solid 2px #ccc;
    -webkit-transition: all 280ms ease-in-out;
    -moz-transition: all 280ms ease-in-out;
    -ms-transition: all 280ms ease-in-out;
    -o-transition: all 280ms ease-in-out;
    transition: all 280ms ease-in-out;
}

@media screen and (max-width: 768px){
    .page-imprensa .press ul{
        padding: 0;
        margin: 0;
    }

    .page-imprensa .press ul li{
        width: 100%;
        float: none;
    }
}

.page-imprensa .press ul li:hover{
    border-color: #A3D869;
}

.page-imprensa .press ul li:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.page-imprensa .press ul li img{
    position: absolute;
    width: 100%;
    -webkit-transition: all 280ms ease-in-out;
    -moz-transition: all 280ms ease-in-out;
    -ms-transition: all 280ms ease-in-out;
    -o-transition: all 280ms ease-in-out;
    transition: all 280ms ease-in-out;
}

.page-imprensa .press ul li .date{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.8);
    padding:10px;
    color: #FFF;
}

.CategoriesBoxes .Categorie{
    width: 100%;
    display: block;
    line-height: 25px;
    font-size: 18px;
    padding: 3px 6px;
    color: #FFF;
    background: #A3D869!important;
}

.table.CategoriesBoxes .Categorie{
    display: table-row !important;
}

.CategoriesBoxes .Categorie:hover,
.CategoriesBoxes .Categorie.active{
    background: #66BD29!important;
}

.CategoriesBoxes .CategorieItem{
    line-height: 31px;
    padding: 3px 6px;
    height: 31px;
    margin-bottom: 10px
}

.QuantItems input[type="text"],
.QuantItems input[type="number"]{
    width: 31px;
    height: 31px;
    text-align: center !important;
}

.DivItems td{
    vertical-align: middle !important;
}

.CategoriesBoxes .DivItems{
    /*display: none;*/
}

.color-green{
    color: #66BD29;
}

.seta-origem-destino{
    line-height: 192px;
    vertical-align: middle;
    margin: 0 60px;
    font-size: 30px;
}

.row-items table thead{
    background: #dadada;
}
.row-items table thead th,
.row-items table tbody td{
    padding: 3px 6px;
    line-height: 20px;
}

.row-items table tbody td{
    background: #e8e8e8;
    border-bottom:solid 1px #fafafa;

}

.dimensao-outros{
    width: 40px;
}

.categorie-outros{
    height: auto !important;
}

.tr-outros-items > td{
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}


/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}

.btn-novo-item{
    margin-top: 10px;
}

.table>tbody>tr.active>td{
    background-color: inherit;
    vertical-align: inherit;
}

.table>tbody>tr>td img{
    max-width: 100%;
}

.caixas-embaladas{
    width: 100%;
}

.caixas-embaladas .nome input[type="text"]{
    max-width: 98%;
    width: 98%;
    min-width: 150px;
}

.caixas-embaladas .LCA input{
    width: 40px !important;
}

.caixas-embaladas .nome .LCA{
    margin-top: 5px;
}

.caixas-embaladas tbody td{
    padding: 3px 0;
}

.caixas-embaladas tbody td.actions .btn-delete{
    opacity: 0;
    -webkit-transition: all 280ms ease-in-out;
    -moz-transition: all 280ms ease-in-out;
    -ms-transition: all 280ms ease-in-out;
    -o-transition: all 280ms ease-in-out;
    transition: all 280ms ease-in-out;
    -moz-transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -o-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

.caixas-embaladas tbody tr:hover td.actions .btn-delete{
    opacity: 1;
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.btn-anexo{
    -webkit-transition: all 280ms ease-in-out;
    -moz-transition: all 280ms ease-in-out;
    -ms-transition: all 280ms ease-in-out;
    -o-transition: all 280ms ease-in-out;
    transition: all 280ms ease-in-out;
    margin: 3px 0;

    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}

.btn-anexo.anexo-ok:hover{
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-mais-anexo{
    opacity: .7;
    margin-top: 15px;
}

.table-valores-seguros{
    width: 60%;
    margin: 10px 0;
}

.table-valores-seguros th,
.table-valores-seguros td{
    padding: 3px 6px;
}

.table-valores-seguros th{
    background: #66BD29;
    font-weight: bold;
    color: #FFF;
}

.table-valores-seguros td input{
    width: 60px;
}

.table-valores-seguros .table-sub-header{
    background: #A3D96A;
    color: #FFF;
}

.form-sua-mudanca{
    font-size: 15px;
}

.form-group{
    position: relative;
}

.categoria-search{
    position: relative;
}

.categoria-search input{
    width: 100%;
    padding: 3px 6px;
    z-index: 1;
}

.categoria-search .btn-clear{
    position: absolute;
    right: 10px;
    top: 5px;
}

.item-nao-encontrado{
    padding: 3px 6px;
    text-align: center;
    margin: 0;
    font-size: 12px;
}

.FormOrc{
    width: 100%;
    max-width: 100%;
}

.FormOrc img{
    /*width: 100%;*/
    max-width: 100%;
}

.FormOrc .Orcamento td{
    padding: 3px 6px;
}

.question ul{
    list-style: none;
    padding: 0;
}

.question ul li{
    padding: 10px 0;
}

.question ul li:nth-child(even){
    background: #F1F1F1;
}

.question .row-header{
    font-size: 12px;
}

.inquerito .comentarios textarea{
    height: 227px;
}

.FormBtmNext{
/*  cursor: pointer;
    padding: 45px 0 0 5px;
    text-align: left;
    color: #fff;
    font-style: italic;
    font-weight: bold;
    width: 148px;
    height: 85px;
    border: none;
    background: url(../img/FormBtmNext.gif) no-repeat bottom left; 
*/
}

.captcha input{
    padding: 5px 6px;
}

.inquerito .btn-container{
    margin-top: 20px;
}

.item-radio-button > label.error{
    top: -28px;
}

@media screen and (max-width: 320px){

    .CategoriesBoxes .CategorieItem{
        height: 62px;
        white-space: nowrap;
    }

    .caixas-embaladas input[type="text"],
    .caixas-embaladas input[type="number"]{
        padding: 7px 0px;
    }

    .caixas-embaladas input.Quant{
        padding: 0;
    }

    .categoria-search input{
        padding: 7px 6px;
    }

}

.banner-home .carousel{
    width: 70%;
    float: right;
}

.banner-home .list-banner{
    width: 30%;
    float: left;
    height: 413px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

}

.banner-home .list-banner > div{
    flex: 1;
    margin: auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 20px;
    background: #222;
    color: #FFF;
}

.banner-home .list-banner > div{
    background: #222;
}

.banner-home .list-banner > div.active{
    background: #A3D869;
}

.banner-home, .banner-home .item{

    height: 413px;
    /*position: relative;*/
    background-position: center;
    background-size: cover;
}

.banner-home .item h1,
.banner-home .item .features{
    position: absolute;
    z-index: 1;
}

.banner-home .item h1{
    top: 0;
    width: 100%;
    left: 0;
    background: #222;
    color: #FFF;
    padding: 10px;
    margin: 0;
}

.banner-home .item .features{
    position: absolute;
    right: 10px;
    bottom: 20px;
    padding: 10px;
    background: rgba(0,0,0,.8);
    max-width: 80%;
    color: #FFF;
    list-style: none;
}

.slider-form{
    /* border-bottom: 1px solid #ebebeb; */
    padding: 30px 0;
    /*background: url(../img/banners_home/bg-full.jpg);*/
    position: relative;
}

.slider-form::before{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    /*background: rgba(255,255,255,0.85);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
    /*background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    /*background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

@media screen and (max-width: 768px){
    #logo{
        margin-top: 15px;
    }
}

.mobile-header{
    background: #A3D869;
}

div.zona{
    background-repeat: no-repeat;
    padding:0px 20px 0px 0px;
}

div.zona *{

}

div.zona h1{
    display:block;
    visibility: visible;
    text-transform:uppercase;
    color:#545454;
    font-size:3em;
}

div.zona p{
    font-size:15px;
}

div.zona p.orcamentogratis{
    margin:25px 0px;
}

div.zona p strong,div.zona p a, div.zona ul li strong{
    color:#66BD29;
}

div.zona h2{
    visibility: visible;
    color:#6a6a6a;
    text-transform:uppercase;
    font-size:16px;
}

div.zona ul{

}

div.zona ul li{

}

div.zona ul li a{
    color: #66BD29;
}

div.zona h2 strong{
    color:#66bd29;
}

.mudancas-em-container{
    background: rgba(255,255,255,0.8);
    padding: 25px 55px;
    box-sizing: border-box;
}

@media screen and (min-width: 1024px){

    .mudancas-em-container{
        min-height: 390px;
    }

}

@media screen and (max-width: 768px){

    .mudancas-em-container{
        padding: 0;
    }

}

.panel-default>.panel-heading+.panel-collapse>.panel-body p:last-child{
    margin-bottom: 0 !important;
}


.press-page a:hover img{
    -moz-transform: scale(1.1) rotate(2deg);
    -webkit-transform: scale(1.1) rotate(2deg);
    -o-transform: scale(1.1) rotate(2deg);
    -ms-transform: scale(1.1) rotate(2deg);
    transform: scale(1.1) rotate(2deg);
}

.press-page a img{
    -webkit-transition: all 280ms ease-in-out;
    -moz-transition: all 280ms ease-in-out;
    -ms-transition: all 280ms ease-in-out;
    -o-transition: all 280ms ease-in-out;
    transition: all 280ms ease-in-out;
}

.phone-number-mobile{
    background: #222;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    padding: 12px 0;
}

.phone-number-mobile i{
    margin-right: 10px;
}


.milleniumbcp a{
    background-color: #c92b5b;
    color: #fff;
    display: inline-block;
    line-height: 38px;
    margin-top: -10px;
    padding: 0 15px;
}

li.milleniumbcp{
    border-right: none !important;
}

.table-cell{
    display: table-cell;
    width: 20%;
    box-sizing: border-box;
    padding: 5px;
}

.table-cell img{
    max-height: 110px;
}

@media screen and (max-width: 768px){
    .table-cell{
        display: block !important;
        width: 100% !important;
    }

    .table-cell img{
        height: auto;
        max-height: none;
        width: 100%;
    }

    .parceiros-page img.img-responsive{
        margin: 0 auto;
    }
}

.destaques-home {
}

.destaques-home a:first-child {
    display: block;
    clear: both;
    border-bottom: 3px solid #A3D869;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.destaques-home a:first-child img {
    margin: 0 auto;
}