/* RESET BROWSER STYLES begin */
/* img, div, input { behavior: url(iepngfix.htc) } */

html { }

html,body,div,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,input,button,textarea,blockquote { 
    margin:0;
    padding:0;
}
table { border-collapse:collapse; border-spacing:0; }
a:link,a:hover,a:visited,a:active, img,:link img,:visited img, img, span a img { border:0; padding:0px; list-style:none; }	
ul { /*list-style-type:none; margin:0px; padding:0px;*/ }

q:before,q:after { content:''; }
abbr,acronym { border:0; }
:focus { outline:0; }
blockquote:before, blockquote:after, q:before, q:after { content:""; }
blockquote, q { quotes:"" ""; }
form { border:0; }

/* RESET BROWSER STYLES end */

/* GLOBAL PAGE STYLES begin */

body { font:13px/1.3 Roboto, Arial, Helvetica, sans-serif; color:#565a5c; background:#fff; padding:0 0 0 0; position:relative; }

a:link, a:visited { color:#333; text-decoration:underline; }
a:hover, a:active { text-decoration:none; }

.floatL { float:right!important; }
.floatR { float:left!important; }

.clr { clear: both; }
.clrL { clear: left; }
.clrR { clear: right; }
.clear { clear:both; }

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.DisplayOn { }
.DisplayOff { display:none; }
.VisibleOn { visibility:visible; }
.VisibleOff { visibility:hidden; }

.Center { text-align:center; }

/* GLOBAL PAGE STYLES end */


div#Main { width:96em; margin:0 auto; /*background:#f1f1f1;*/ }

div#Header { background:#a3d869; height:8.5em; position:relative; }

div.Logotipo { position:absolute; top:2.2em; left:2em; }

div.Languages { color:#fff; font-size:1.2em; position:absolute; bottom:1em; right:2em; }
div.Languages a:link,
div.Languages a:visited { color:#333333; text-decoration:underline; padding:0 0.2em; }
div.Languages a:hover,
div.Languages a:active { font-weight:bold;}
div.Languages a.Active { font-weight:bold; text-decoration:none; }




/* Menu */
div#MenuTop { height:3.2em; border-bottom:1px solid #a3d869; margin-bottom:1em; }
div#MenuTop ul { margin:0 0 0 0em; padding:0; list-style:none; float:left;text-align:center; }
div#MenuTop ul li { margin:0; padding:0px; list-style:none; float:left; height:32px; }


div#MenuTop ul li a:link,
div#MenuTop ul li a:visited { font-size:1.6em; padding-top:0; line-height:2.3; font-weight:bold; text-decoration:none; display:block; background-repeat:no-repeat; text-transform:uppercase; text-indent:0px;}
div#MenuTop ul li a:hover { background-position:0 -64px; background-color:#a3d869; }
div#MenuTop ul li a.Active { background-position:0 -64px; background-color:#a3d869; color:#ffffff;}

div#MenuTop ul li a{
    margin-right:5px;
    padding: 10px 15px 4px 15px !important;
}

div.Telefone { float:right; padding: 1px 25px 0 0; }


/* Home */
div#HContent { background:#fff; }
div.ContentTitle { margin:0.83em 0 0.42em 0; font-size:1.67em; color:#66BD29; font-weight:bold; text-transform:uppercase; }

/* Home */
div#HHome { display:block; }

div.HFreeOrder { margin:0 0 0.3em 0; height:50px; display:block; text-align:right; }

div.HBanner { margin:0 1em 0 0; width:575px; height:300px; float:left; position:relative; margin-bottom:30px; }
div.BannerFrases { position:absolute; bottom:0; left:0; width:100%; }
div.BannerFrases span { background:#fff; }
div.BannerFrases div { background:#fff; }
div.BannerFrases .FraseOne { padding:0.5em 1.33em 0 1.33em; line-height:1; clear:both; display:inline-block; font-size:1.5em; color:#777; text-transform:uppercase; font-weight:bold; line-height:1; }
div.BannerFrases .FraseTwo { padding:0 0.71em 0.21em 0.71em; line-height:1; clear:both; display:inline-block; font-size:2.8em; color:#333; text-transform:uppercase; font-weight:bold; line-height:0.8; }

div.HForm { color:#000; font-size:1.2em; width:353px; height:300px; margin:0 0 0 0; padding:0 10px 0 0; float:right; background:url(../images/HForm_BG.gif) no-repeat right bottom #A3D869; position:relative; }
div.HFormI { margin:0 0 15px 15px; }
div.HForm table { margin:1em 0 0 0; }
div.HForm table td { vertical-align:text-bottom; padding:5px 0; }

div.HForm table td.FormHab { padding:5px 5px 15px 8px; width:39%; }
div.HForm table td.FormTd1 { padding:18px 5px 19px 8px; width:39%; }
div.HForm table td.FormTd2 { padding:0px 5px 15px 8px; }
div.HForm table input.Input,
div.HForm table select.Input { font-size:1em; padding:4px 3px; border:none; }
div.HForm table a.FormLink:link,
div.HForm table a.FormLink:visited { font-size:1em; }
input.FormGo { text-align:right; position:absolute; bottom:0.6em; right:1em; text-transform:uppercase; background:none; border:none; font-size:1.2em; font-weight:bold; cursor:pointer; }
a#OrderAvancar { text-align:right; position:absolute; bottom:0.6em; right:1.8em; text-transform:uppercase; background:none; border:none; font-size:1.2em; font-weight:bold; cursor:pointer; text-decoration:none; }


/* Form Orcamento */
div.MainItems { width:100%!important; }
div.FormTop { background:#A3D869; border-bottom:1px solid #66BD29; position:relative; }
/* div.FormTop img.Logotipo { position:absolute; top:10px; left:10px; } */
div.FormTop img.Slogan { position:absolute; top:50px; left:124px; }

ul.FormMenu { margin:10px 0 0 0; padding:0; list-style:none; float:right; }
ul.FormMenu li { text-align:left; margin:0 0 0 1px; float:left; }

/* ul.FormMenu li.StepPrev { background:#8ECF53; border:1px solid #8ECF53; }
ul.FormMenu li.StepNext { background:#66BD29; border:1px solid #66BD29; }
 */ul.FormMenu li.StepOn { background:#66BD29; border:1px solid #3D8F00; }

ul.FormMenu li a:link,
ul.FormMenu li a:visited { font-weight:bold; padding:5px; width:80px; height:50px; display:block; text-decoration:none; }
ul.FormMenu li span { line-height:1; display:block; font-size:10px; font-style:italic; }

ul.FormMenu li.StepPrev a:link,
ul.FormMenu li.StepPrev a:visited { color:#fff; }
ul.FormMenu li.StepNext a:link,
ul.FormMenu li.StepNext a:visited { color:#3D8F00; }
ul.FormMenu li.StepOn a:link,
ul.FormMenu li.StepOn a:visited { color:#000; }

ul.FormMenu li.StepPrev span { color:#fff; }
ul.FormMenu li.StepNext span { color:#3D8F00; }
ul.FormMenu li.StepOn span { color:#000; }


table.FormOrc { margin:1px 0 0 0; }
td.FormOrc { font-family: Roboto, Arial, sans-serif; padding:10px 0 0 0; /*text-align:center;*/ /*background:#f1f1f1;*/ }

table.Order { color:#000000; font-size:1.1em; background:#fff; text-align:left; width:100%; margin:0 auto; /*border:1px solid #ccc;*/ }
td.OrderTxt { vertical-align:top; text-align:right; padding-right:0.5em; }

table.Order input,
table.Order textarea,
table.Order select { font-size:0.9em; border:1px solid #A3D869; /*background-color:#f1f1f1;*/ /*margin:3px;*/ padding:2px 3px; font-family:Arial, Helvetica, sans-serif; }
table.Order input { }

div.OrderError { color:#900; font-size:0.8em; }
div.OrderError_2 { color:#900; font-size:12px; }

table.formulario { color:#000000; font-size:1.1em; }
table.formulario2 { color:#000000; /*font-size:11px;*/ margin-top:20px; margin-bottom:20px; } 

table.formulario_login { color:#000000; /*font-size:10px;*/ margin-top:30px; margin-bottom:20px; } 
.txt { text-align:right; padding-right:7px; vertical-align:top; }
.txt2 { color:#000000; font-size:12px; margin-top:20px; }


div.CategoriesBoxes { display:block; position:relative; /*background:red; border:1px solid red;*/ }

div.DivCategories { /* width:50%; float:left; */ /*background:#ccc;*/ }
div.DivCategories a.Categorie:link,
div.DivCategories a.Categorie:visited,
div.DivCategories div.Categorie { line-height:1.5; margin:0 0 1px 0; padding:0.29em 0 0.29em 0.82em; text-decoration:none; font-weight:bold; color:#fff; background:#A3D869; display:block; }

.materialCategorie { 
	line-height:1.5;
	margin:0 0 1px 0;
	padding:0.29em 0 0.29em 0.82em;
	text-decoration:none;
	font-weight:normal;
	color:#fff;
	background:#A3D869;
	border-top: 1px solid white;
	cursor: pointer; 
}

div.DivCategories a.Categorie:link,
div.DivCategories a.Categorie:visited,
div.DivCategories div.Categorie,
.materialCategorie{
	font-size: 14px;
}

div.DivCategories a.Categorie:hover,
div.DivCategories a.Categorie:active,
div.DivCategories a.selected,
div.DivCategories a.Categorie-Active,
div.DivCategories div.Categorie-Active { color:#fff!important; background:#66BD29!important; }

div.DivItems { margin:0 0 1px 0; background:#f1f1f1; display:none; }
div.CategorieItem { border-bottom:1px solid #dedede; padding:10px 5px; }
div.CategorieItem div.GiftCheck { padding:0.4em 0 0 0; text-align:center!important; display:block!important; }


/* Boxes - Float Div */
div.BoxesDiv { float:left; /*position:relative;*/ width:385px; overflow:hidden; /*background:red;*/ }
div.BoxesFloat { padding:0.5em 0; z-index:10; /*top:0;*/ right:0; /*background:#f1f1f1;*/ }
div.BoxesTitle { margin:0 0 0.5em 0; padding:0 0.5em; font-weight:bold; }

thead td { font-size:0.8em; }
tr.BoxesRow1 { background:#fff; }
tr.BoxesRow2 { background:#f1f1f1; }

.BoxesRow1, .BoxesRow2 { display: none; }
.material-active { display: table-row; }
.label-active { background-color: #66BD29 !important; }

/* Quantidades */
td.Quant { text-align:left; }
td.Quant input.Quant, input.Quant { float:right; padding:7px 3px; font-size: 0.8em;}
div.Quant { float:right; width:67px; height:31px; }
div.Quant input { float:left; width:31px; height:31px; padding:0; cursor:pointer; line-height:0; font-size:0.8em; text-align:center; border:none; background:#ccc; margin-bottom:3px; margin-left:2px; }

/* Quantidades dos ?tems */
td.QuantItems { text-align:left; vertical-align:top;}
td.QuantItems input.Quant { float:right; padding:7px 3px; text-align: center; }
div.QuantItems { float:right; width:67px; height:31px; }
div.QuantItems input { float:left; width:31px; height:31px; padding:0; cursor:pointer; line-height:0; font-size:0em; text-align:center; border:none; background:#ccc; margin-bottom:3px; margin-left:2px; }

/* Remover - Btm */
input.RemoveBtm { color:#900; font-weight:bold; background:#fff; border:none!important; cursor:pointer; }
input.MoreBtm { cursor:pointer; font-size:0.8em!important; background:#72C236; color:#000; font-weight:bold; font-style:italic; border:none; }

div.BoxesClient { display:block; }
div.BoxesClientTitle { margin:0 0 0.5em 0; padding:0; font-weight:bold; }

div.Step5Orca { margin:0 0 2em 0; padding:0 0 1px 0; border-bottom:1px solid #ccc; }
table.Refer td { background:#A3D869; }
table.Orcamento { margin:1em 0; }
table.Orcamento thead td { background:#ccc; font-size:12px; font-weight:bold; }
table.Orcamento td.OrcTd1 { background:#fff; }
table.Orcamento td.OrcTd2 { background:#f1f1f1; }

div.LinkPDF { background:#f1f1f1; text-align:center; padding:2px; }
a.LinkPDF:link,
a.LinkPDF:visited { display:inline-block; padding:5px 5px 5px 35px; background:url(../images/icon-pdf.jpg) #fff no-repeat center left; text-decoration:underline; }
a.LinkPDF:hover,
a.LinkPDF:active { text-decoration:underline; }

div.LinkPrint { background:#f1f1f1; text-align:right; padding:2px; }
a.LinkPrint:link,
a.LinkPrint:visited { display:inline-block; padding:5px 5px 5px 30px; background:url(../images/icon-print.jpg) #fff no-repeat center left; text-decoration:underline; }
a.LinkPrint:hover,
a.LinkPrint:active { text-decoration:underline; }

a.LinkExit:link,
a.LinkExit:visited { display:inline-block; padding:5px 5px 5px 30px; background:url(../images/icon-sair.jpg) #fff no-repeat center left; text-decoration:underline; }
a.LinkExit:hover,
a.LinkExit:active { text-decoration:underline; }


div#Payment { border:1px solid #A3D869; padding:1px; display:none; }
div#options { padding:5px; background:#f1f1f1; }
div#paypal { text-align:center; padding:5px; display:none; }
div#bank { text-align:left; padding:5px; }
div#check { text-align:check; padding:5px; display:none; }


/* Form - Submit */
div.FormSubmit { height:85px; /* position:relative; */ margin:15px 0px 0px 0px;/*background:#f1f1f1;*/ }
div.FormSubmit a:link,
div.FormSubmit a:visited { text-decoration:none; }
div.FormSubmit input.FormBtmNext { cursor:pointer; padding:45px 0 0 5px; text-align:left; color:#fff; font-style:italic; font-weight:bold; width:148px; height:85px; position:absolute; bottom:1px; left:85%; border:none; background:url(../images/FormBtmNext.gif) no-repeat bottom left; }
div.FormSubmit input.FormBtmPrev { cursor:pointer; padding:45px 5px 0 0; text-align:right; color:#000; width:148px; height:85px; position:absolute; bottom:1px; left:35%; border:none; background:none; }


/* Form - Footer */
div.FormBottom { height:15px; background:#A3D869; }


/* Internas */
div.InternaOne { font-size:1.2em; text-align:justify; }
div.InternaTwo { font-size:1.1em; float:left; width:52em; text-align:justify; }


/* MenuBottom */
div#LinksBottom { display:block; margin:1em 0 0 0; }

ul#LinksBottom { margin:0; padding:0; list-style:none; background:#fff; display:block; }
ul#LinksBottom li { float:left; margin:0; padding:0; list-style:none; }
ul#LinksBottom li.MRight { margin-right:0.8em; }
ul#LinksBottom li a:link,
ul#LinksBottom li a:visited { width:23.4em; height:6.5em; padding:3.5em 0 1.5em 0; background-color:#e1e1e1; background-repeat:repeat-x; display:block; text-decoration:none; overflow:hidden; }
ul#LinksBottom li a:hover,
ul#LinksBottom li a:active { background-position:0 -11.6em; color:#000; }

ul#LinksBottom li a span.LinkTitle { padding:0 0 0 0.84em; font-size:2.4em; letter-spacing:-0.03em; text-transform:uppercase; color:#393939; display:block; font-weight:bold; }
ul#LinksBottom li a:hover span.LinkTitle { color:#000; background:#fff; }

ul#LinksBottom li a span.LinkText { padding:0 2em; display:block; }

ul#LinksBottom li a.LinkBotttom1 { background-image:url(../images/LinkBottom1_BG.gif); }
ul#LinksBottom li a.LinkBotttom2 { background-image:url(../images/LinkBottom2_BG.gif); }
ul#LinksBottom li a.LinkBotttom3 { background-image:url(../images/LinkBottom3_BG.gif); }
ul#LinksBottom li a.LinkBotttom4 { background-image:url(../images/LinkBottom4_BG.gif); }




/* Footer */
div#Footer { height:120px; background:url(../images/Footer_BG.gif) no-repeat bottom #ECECEC; color:#666; font-size:1.2em; margin:1em 0 0 0; padding:0; display:block; line-height:1; position:relative; }

div#Footer div.floatL { font-weight:bold; }
div#Footer div.floatR { margin-left:150px; margin-top:12px; text-align:left; }
div#Footer div.floatR a {text-decoration: none;}
div#Footer div.floatR img { padding:2px; border:1px solid #ccc; }

div#Footer div.floatL ul { margin:0; padding:0; list-style:none; }
div#Footer div.floatL ul li { margin:0; padding:0; list-style:none; display:inline; }
div#Footer div.floatL ul li a:link,
div#Footer div.floatL ul li a:visited { margin:0 0.57em; color:#666; text-decoration:none; }
div#Footer div.floatL ul li a:hover,
div#Footer div.floatL ul li a:active { color:#333; text-decoration:underline; }

div#FooterSlogan { position:absolute; bottom:0; right:1em; height:20px; }

div#FooterCopy { color:#666; font-size:1.2em; margin:0.5em 0 0 0; padding:0em 1em 3em 1em; display:block; line-height:1; }
div#FooterCopy div.floatL { padding:7px 0 0 0; }



/* Datepicker */
.ui-datepicker { margin:.2em 0 0 0; width:17em; padding:.2em .2em 0; }
.ui-datepicker-header { position:relative; padding:.2em 0; }

.ui-datepicker-prev,
.ui-datepicker-next { position:absolute; top:2px; width:1.8em; height:1.8em; }
.ui-datepicker-prev:hover,
.ui-datepicker-next:hover { top: 1px; }
.ui-datepicker-prev { left:2px; }
.ui-datepicker-next { right:2px; }
.ui-datepicker-prev:hover { left:1px; }
.ui-datepicker-next:hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span { display:block; position:absolute; left:50%; margin-left:-8px; top:50%; margin-top:-8px; }

.ui-datepicker-title { margin:0 2.3em; line-height:1.8em; text-align:center; }
.ui-datepicker-title select { float:left; font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year { width:100%; }
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year { width:49%; }
.ui-datepicker-title select.ui-datepicker-year { float:right; }
.ui-datepicker table { width:100%; font-size:.9em; border-collapse:collapse; margin:0 0 .4em; }
.ui-datepicker th { padding:.3em .3em; text-align:center; font-weight:bold;  }
.ui-datepicker td span,
.ui-datepicker td a { display:block; padding:.2em; text-align:right; text-decoration: none; }
.ui-datepicker-buttonpane { background-image:none; margin:.7em 0 0 0; padding:0 .2em; border-left:0; border-right:0; border-bottom:0; }
.ui-datepicker-buttonpane button { float:right; margin:.5em .2em .4em; cursor:pointer; padding:.2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }
.ui-datepicker-trigger { margin:0 0 0 4px; vertical-align:middle; cursor:pointer; }


/* Component containers */
.ui-widget { font-family:Verdana,Arial,sans-serif; font-size:1em; }
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button { font-family:Verdana,Arial,sans-serif; font-size:1em; }
.ui-widget-content { display:none; border:1px solid #66BD29; background:#A3D869 /*url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x*/; color:#222222; }
.ui-widget-content a { color:#222222; }
.ui-widget-header { /*border:1px solid #aaaaaa;*/ background:#66BD29 /*url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x*/; color:#222222; font-weight:bold; }
.ui-widget-header a { color:#222222; }


/* Interaction states */
.ui-state-default,
.ui-widget-content .ui-state-default { /*border:1px solid #d3d3d3;*/ background:#66BD29 url(../images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x; font-weight:normal; color:#000; outline:none; }
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited { color:#555555; text-decoration:none; outline:none; }
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus { /*border:1px solid #999999;*/ background:#A3D869 url(../images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x; font-weight:normal; color:#212121; outline:none; cursor:pointer; }
.ui-state-hover a,
.ui-state-hover a:hover { color:#212121; text-decoration:none; outline:none; }
.ui-state-active,
.ui-widget-content .ui-state-active { /*border:1px solid #aaaaaa;*/ background:#ffffff url(../images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight:normal; color:#212121; outline:none; }
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited { color:#212121; outline:none; text-decoration:none; }


/* Interaction Cues */
.ui-state-highlight,
.ui-widget-content .ui-state-highlight { border:1px solid #fcefa1; background:#fbf9ee url(../images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x; color:#363636; }
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a { color:#363636; }
.ui-state-error,
.ui-widget-content .ui-state-error { border:1px solid #cd0a0a; background:#fef1ec url(../images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; color:#cd0a0a; }
.ui-state-error a,
.ui-widget-content .ui-state-error a { color:#cd0a0a; }
.ui-state-error-text,
.ui-widget-content .ui-state-error-text { color:#cd0a0a; }
.ui-state-disabled,
.ui-widget-content .ui-state-disabled { opacity:.35; filter:Alpha(Opacity=35); background-image:none; }
.ui-priority-primary,
.ui-widget-content .ui-priority-primary { font-weight:bold; }
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary { opacity:.7; filter:Alpha(Opacity=70); font-weight:normal; }



/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }

/* RTL support */
.ui-datepicker-rtl { direction:rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right:2px; left:auto; }
.ui-datepicker-rtl .ui-datepicker-next { left:2px; right:auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right:1px; left:auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left:1px; right:auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }


/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}



/* states and images */
.ui-icon { width:16px; height:16px; background-image:url(../images/ui-icons_222222_256x240.png); }
.ui-widget-content .ui-icon { background-image:url(../images/ui-icons_222222_256x240.png); }
.ui-widget-header .ui-icon { background-image:url(../images/ui-icons_222222_256x240.png); }
.ui-state-default .ui-icon { background-image:url(../images/ui-icons_888888_256x240.png); }
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon { background-image:url(../images/ui-icons_454545_256x240.png); }
.ui-state-active .ui-icon { background-image:url(../images/ui-icons_454545_256x240.png); }
.ui-state-highlight .ui-icon { background-image:url(../images/ui-icons_2e83ff_256x240.png); }
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon { background-image:url(../images/ui-icons_cd0a0a_256x240.png); }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 4px/*{cornerRadius}*/; -webkit-border-top-left-radius: 4px/*{cornerRadius}*/; }
.ui-corner-tr { -moz-border-radius-topright: 4px/*{cornerRadius}*/; -webkit-border-top-right-radius: 4px/*{cornerRadius}*/; }
.ui-corner-bl { -moz-border-radius-bottomleft: 4px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 4px/*{cornerRadius}*/; }
.ui-corner-br { -moz-border-radius-bottomright: 4px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 4px/*{cornerRadius}*/; }
.ui-corner-top { -moz-border-radius-topleft: 4px/*{cornerRadius}*/; -webkit-border-top-left-radius: 4px/*{cornerRadius}*/; -moz-border-radius-topright: 4px/*{cornerRadius}*/; -webkit-border-top-right-radius: 4px/*{cornerRadius}*/; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 4px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 4px/*{cornerRadius}*/; -moz-border-radius-bottomright: 4px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 4px/*{cornerRadius}*/; }
.ui-corner-right {  -moz-border-radius-topright: 4px/*{cornerRadius}*/; -webkit-border-top-right-radius: 4px/*{cornerRadius}*/; -moz-border-radius-bottomright: 4px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 4px/*{cornerRadius}*/; }
.ui-corner-left { -moz-border-radius-topleft: 4px/*{cornerRadius}*/; -webkit-border-top-left-radius: 4px/*{cornerRadius}*/; -moz-border-radius-bottomleft: 4px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 4px/*{cornerRadius}*/; }
.ui-corner-all { -moz-border-radius: 4px/*{cornerRadius}*/; -webkit-border-radius: 4px/*{cornerRadius}*/; }

/* Overlays */
.ui-widget-overlay { background:#aaaaaa/*{bgColorOverlay}*/ url(../images/ui-bg_flat_0_aaaaaa_40x100.png)/*{bgImgUrlOverlay}*/ 50%/*{bgOverlayXPos}*/ 50%/*{bgOverlayYPos}*/ repeat-x/*{bgOverlayRepeat}*/; opacity: .3;filter:Alpha(Opacity=30)/*{opacityOverlay}*/; }
.ui-widget-shadow { margin:-8px/*{offsetTopShadow}*/ 0 0 -8px/*{offsetLeftShadow}*/; padding: 8px/*{thicknessShadow}*/; background: #aaaaaa/*{bgColorShadow}*/ url(images/ui-bg_flat_0_aaaaaa_40x100.png)/*{bgImgUrlShadow}*/ 50%/*{bgShadowXPos}*/ 50%/*{bgShadowYPos}*/ repeat-x/*{bgShadowRepeat}*/; opacity: .3;filter:Alpha(Opacity=30)/*{opacityShadow}*/; -moz-border-radius: 8px/*{cornerRadiusShadow}*/; -webkit-border-radius: 8px/*{cornerRadiusShadow}*/; }

/* JQuery Autocomplete */
.PostcodeBox { z-index:15; position:absolute; top:12px; left:0; width:200px; background-color:#A3D869; border:2px solid #66BD29; color:#000; -moz-border-radius:7px; -webkit-border-radius:7px; }
.PostcodeList { margin:0; padding:0; list-style:none; }
.PostcodeList ul { list-style:none; margin:0; padding:0; }
.PostcodeList li { list-style:none; margin:0 0 3px 0; padding:3px; cursor:pointer; }
.PostcodeList li:hover { background-color:#66BD29; color:#fff; }

/* Animate */
div#Text, div#TextEN{ height:45px; padding:0; font-size:18px; line-height:1; font-weight:bold; color:#66BD29; overflow:hidden; position:relative; /*background:#000;*/ }
div#Text div#Text1,
div#Text div#Text2,
div#Text div#Text3,
div#Text div#Text4,
div#Text div#Text5,
div#Text div#Text6,
div#TextEN div#Text1en,
div#TextEN div#Text2en,
div#TextEN div#Text3en,
div#TextEN div#Text4en,
div#TextEN div#Text5en,
div#TextEN div#Text6en { position:absolute; top:12px; margin-right:13px; width:100%; opacity:0; background:#fff; }
div#Text div#Text1 { left:6px; }
div#Text div#Text2 { left:130px; }
div#Text div#Text3 { left:267px; }
div#Text div#Text4 { left:505px; }
div#Text div#Text5 { left:830px; margin:0; }
div#Text div#Text6 { /*display:none;*/ font-size:22px; left:6px; margin:0; }

/* RIGHT COLUMN STYLES begin */
.RightCol { float:right; font-size:0.75em; width:16.67em; padding:0 0 1.5em 0; overflow:hidden; }
.RightCol h4 { display:none; }

.HelpBarSwitch,
.HelpBarSwitch b { display:block; cursor:pointer; }

.HelpBarSwitch { /*background:#ea3886 url(../imgs/helpbar_switch_BG.gif) no-repeat left top;*/ }
.HelpBarSwitch b { /*padding:1px 22px 3px 10px; color:#000; font-size:1.08em;*/ }

.HBSOpen { background:transparent url(../imgs/helpbar_switch_arrowopen.gif) no-repeat right center; }
.HBSClosed { /*background:transparent url(../imgs/helpbar_switch_arrowclosed.gif) no-repeat right center;*/ }

/* novo question?rio - 110415 */

div.question{
}

div.comercial{
    width:300px;
    float:left;
}

div.comentarios{
    margin:0px 0px 0px 10px;
    float:left;
    width:650px;
}

div.question h3{
    color:#efefef;
    visibility:visible;
    background-color:#66BD29;
    padding:5px 5px;
}

div.question ul{
    list-style-type:none;
    padding:0px;
}

div.question-wrap{
    margin:20px 0;
}

div.question ul li{
    margin:5px 0px;
    padding:10px;
    font-size:11px;
    height:16px;
}

div.question ul li.odd{
    background-color:#F1F1F1;
}

div.question ul li div{
    float:left;
    width:455px;
}

div.comercial ul div{
    width:220px !important;
}

div.question ul li span, div.question ul li input[type=radio]{
    vertical-align:middle;
}

div.question ul li span{
    margin:0px 5px 0px 0px;
}

div.question ul li input[type=radio]{
    margin:0px 25px 0px 0px;
}

div.question ul li input[type=radio]:hover{
    cursor:pointer;
}

div.comentarios textarea{
    border:1px solid #A3D869;
    font-family:Arial,Helvetica,sans-serif;
    font-size:0.9em;
    padding:15px;
    width:618px;
    height:222px;
}

div.captcha{
    width:150px;
    position:absolute;
    left:65%;
    top:5px;

}

div.captcha input[type=text]{
    border:1px solid #A3D869;
    padding:2px;
    height:22px;
}

label.error{
    font-size:11px;
    margin-left:5px;
}

/* facebox */
/* facebox - overlay */
#facebox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: left;
}


#facebox .popup{
    position:relative;
    border:3px solid rgba(0,0,0,0);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 18px rgba(0,0,0,0.4);
    box-shadow:0 0 18px rgba(0,0,0,0.4);
}

#facebox .content {
    display:table;
    width: 370px;
    padding: 10px;
    background: #fff;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}

#facebox .content > p:first-child{
    margin-top:0;
}
#facebox .content > p:last-child{
    margin-bottom:0;
}

#facebox .close{
    position:absolute;
    top:5px;
    right:5px;
    padding:2px;
    background:#fff;
}
#facebox .close img{
    opacity:0.3;
}
#facebox .close:hover img{
    opacity:1.0;
}

#facebox .loading {
    text-align: center;
}

#facebox .image {
    text-align: center;
}

#facebox img {
    border: 0;
    margin: 0;
}

#facebox_overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
}

.facebox_hide {
    z-index:-100;
}

.facebox_overlayBG {
    background-color: #000;
    z-index: 99;
}

/* googlemaps*/
img.googlemaps{
    border:2px solid #A3D869;
    background-color:#ffffff;
    padding:1px;
}

/* slider */
.kwicks{
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
}

.kwicks li{  
    float: left;  
    width: 130px;
    height: 300px;  
    margin-right: 5px;
    background-repeat:no-repeat;
    overflow:hidden;
}
.kwicks2 .kwicks-home li{
	width: 130px;
}

.kwicks2 .kwicks li{  
    float: left;  
    width: 138px;
    height: 300px;  
    margin-right: 5px;
    background-repeat:no-repeat;
    overflow:hidden;
}

.kwicks li ul,.kwicks2 .kwicks li ul{
    margin:0px 0px 0px 10px;
    padding:0px;
    position:absolute;
    bottom:5px;
    right:5px;
    display:none;
    background-image:url('../images/bg-trans.png');
    border-radius:5px;
    padding:15px;
}

.kwicks li ul li,.kwicks2 .kwicks li ul li{
    display:block;
    float:none;
    height:auto;
    color:#ffffff;
    text-shadow:1px 1px 1px #000000;
    font-weight:bold;
    font-size:11px;
    margin:0px 0px 7px 0px;
    width:100%;
    text-align:right;
}

.kwicks li h2,.kwicks2 .kwicks li h2{
    background-color:#ffffff;    
    width:100%;
    padding:5px 0px 5px 5px;
    border-top:2px solid #A3D869;
	visibility: visible !important;
	font-family: "Arial", sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	display: block;
}

.kwicks li a,.kwicks2 .kwicks li a{
    display:block;
    height:100%;
    width:100%;
    text-decoration:none;
}

.kwicks li a h1,.kwicks2 .kwicks li a h1{
    color:#333333;
    font-family:"Arial", sans-serif;
    text-transform:uppercase;
	border-top:2px solid #A3D869;
    font-size:15px;
    display:block;
    padding:5px 0px 5px 5px;
    text-decoration:none;
    font-weight:bold;
	background-color:#ffffff;
}

#kwick1 {   
    background-image: url('../files/image/mudancas.jpg');
}  
#kwick3 {  
    background-image:url('../files/image/transitario-armazem-alfandegado.jpg');
}  
#kwick4 {
    background-image:url('../files/image/arquivos.jpg');
}
#kwick5 {
    margin-right: none;  
    background-image:url('../files/image/tecnologia.jpg');
}
#kwick6 {   
    background-image:url('../files/image/logistica.jpg');
    margin-right: none;  
}
#kwick7 {
    background-image:url('../files/image/mudancas-internacionais.jpg');
    margin-right: none;  
}
#kwick8 {
    background-image:url('../files/image/transitario.jpg');
    margin-right: none;  
}
#kwick2 {   
    background-image:url('../files/image/transitario.jpg');
    margin-right: none;  
}
.koutros{
	background-image:url('../files/image/outros.jpg') !important;
}

.footer-out{
    color:#ffffff;
    font-weight:bold;
    margin:0px;
    font-size:13px;
    font-style:italic;
}

div.servicos-profissionais-mudancas{
	margin:0px 0px 0px 0px !important;
	margin-top:45px !important;
	padding-top:20px !important;
}

div.servicos-profissionais-mudancas div.left, div.servicos-profissionais-mudancas div.right{
	float:left;
}

div.servicos-profissionais-mudancas div.left{
	width:70%;
}

div.servicos-profissionais-mudancas div.right{
	width:30%;
}

div.servicos-profissionais-mudancas h2 a{
	color:#66bd29;
}

div.servicos-profissionais-mudancas h2{
	color:#66bd29;
	visibility:visible;
	text-transform: uppercase;
	font-size:18px;
	font-weight:bold;
	display: block;
}

div.servicos-profissionais-mudancas p{
	font-size:13px;
	color:#686868;
	margin:0px;
	text-align: justify;
	padding:0px 20px 0px 0px;
	line-height:19px;
}

div.servicos-profissionais-mudancas span, div.servicos-profissionais-mudancas a.highlight{
	color:#66bd29;
}

div.inner-left, div.inner-right{
	float:left;
	width:50%;
}

div.inner-right h2{
	text-align: right;
	padding:0px 17px 0px 0px;
}

div.testemunhos-mudancas{
	background-image:url('../images/testemunhos-citymover-a.png');
	background-repeat:no-repeat;
	padding:20px 0px;
}

div.testemunhos-mudancas p.testemunho{
	background-image:url('../images/testemunhos-citymover-b.png');
	background-repeat:no-repeat;
	background-position: bottom right;
	font-family:"Arial", sans-serif;
	font-size:13px;
	font-style: italic;
	color:#686868;
	width:250px;
	padding:4px 40px 20px 5px;
	text-align: right;
	margin:0px 0px 10px 0px;
}

div.servicos-profissionais-mudancas p.autor-testemunho{
	text-align:right;
	padding: 0px 40px 0px 0px !important
}

div.servicos-profissionais-mudancas p.autor-testemunho span, div.testimonials div.author span{
	font-style: italic;
	font-size:14px;
	font-weight:bold;
	text-transform: uppercase;
	color:#a3d869;
}

div.inner-left p, div.inner-right p{
	margin:17px 0px 0px 0px !important;
}

div.sitewrap{
    width:960px;
    margin:0 auto;
}

p.descricao-mudancas{
    text-align: justify;
}

.visible{
}

div.footercol{
	float:left;
	width:210px;
	margin:0px 0px 20px 30px;	
}

	div.footercol h3{
		visibility:visible;
		text-transform: uppercase;
		color:#6A6A6A;
	}

	div.footercol ul.cidades{
		text-align:left;
		margin:20px 0px 0px 0px;
		padding:0px 0px 0px 10px;
	}

	div.footercol ul.cidades li{
		display: block;
		margin:5px 15px 0px 0px;
	}

	div.footercol ul.cidades li a{
		color:#66bd29;
		text-decoration: none;
		font-size:11px;
	}
	
div.zona{
	background-image:url('../images/services-in.jpg');
	background-repeat: no-repeat;
	padding:25px 20px 0px 0px;
	height:299px;
	width:550px;
}

div.zona *{
	text-align:right;
}

div.zona h1{
	display:block;
	visibility: visible;
	text-transform:uppercase;
	color:#545454;
	font-size:20px;
}

div.zona p{
	margin:23px 0px 10px 100px;
	font-family:"Arial", sans-serif;
	font-size:14px;
}

div.zona p.orcamentogratis{
	margin:25px 0px;
}

div.zona p strong,div.zona p a, div.zona ul li strong{
	color:#66BD29;
}

div.zona h2{
	visibility: visible;
	color:#6a6a6a;
	text-transform:uppercase;
	font-size:16px;
}

div.zona ul li{
	display:inline;
}

div.zona ul li a{
	text-decoration: none; 
	padding:0px 0px 0px 10px;
	font-size:12px;
}

div.zona h2 strong{
	color:#66bd29;
}

div.services-rotator{
	position:absolute;
	width:100%;
	padding:10px 0px 0px 10px;
}

div.services-rotator ul{
	padding:0px;
	margin:0px;
	list-style-type:none;
}

div.services-rotator ul li h3{
	visibility:visible;
	text-transform: uppercase;
	color:#ffffff;
	font-size:16px;
}

div.end{
	/*background-image:url('../images/FormBtmNext.png');*/
	background-repeat: no-repeat;
	background-position: bottom right;
	padding:0px 0px 15px 0px;
}

div.footerwrap{
	margin:20px 0px 0px 0px;
	background-color:#F2F2F2;
	padding:20px 0px 0px 0px;
	border-top:1px solid #ebebeb;
}

div.services-rotator{
	overflow: hidden;
}

div.services-rotator ul{
	height:50px !important;
}

div.testemunhos-mudancas{
	height:125px;
}

div.testemunhos-mudancas ul{
	margin:0px;
	padding:0px;
	list-style-type: none;
}

div.testemunhos-mudancas ul li{
	position: absolute;
	background-color:#ffffff;
}

div.testimonials ul{
	list-style-type: none;
	margin:0;
	padding:0;
}

div.testimonials ul li{
	/*float:left;
	width:440px;*/
	min-height:90px;
	margin: 0px 10px 20px 0px;
	position: relative;
	padding: 0px 10px 0px 0px;
}

div.testimonials ul li div.author{
	right: 0px;
	bottom: 0px;
	margin: 15px 0px 0px 0px;
	text-align: right;
}

div.testimonials ul li div.testwrap{
	padding:10px;
	border-bottom:1px solid #ebebeb;
}

div.testimonials ul li div.testwrap div.descr{
	line-height: 19px;
}

div.press{
	margin: 0px 0px 40px 0px !important;
}

div.press ul{
	list-style-type: none;
	margin:0;
	padding:0;
}

div.press ul li{
	width: 312px;
	float:left;
}

div.press ul li a{
	display: block;
	text-decoration: none;
	border:1px solid transparent;
}

div.press ul li a:hover{
	border-color:#66BD29;
}

div.press ul li span{
	display:block;
	font-style: italic;
	font-size:14px;
	padding:5px 0px 0px 10px;
	height:23px;
	font-weight:bold;
	color:#949494;
}

div.press ul li.expresso span{
	background-image: url('../images/expresso_logo.jpg');
	background-position: right top;
	background-repeat: no-repeat;
}

div.press ul li.logistica span{
	background-image: url('../images/logistica_logo.jpg');
	background-position: right top;
	background-repeat: no-repeat;
}

div.press ul li.oje span{
	background-image: url('../images/oje_logo.jpg');
	background-position: right top;
	background-repeat: no-repeat;
}

div.press ul li.oje {
	margin-top: 15px;
}
div.press ul li.negocios span{
	background-image: url('../images/negocios.jpg');
	background-position: right top;
	background-repeat: no-repeat;
}

div.press ul li.logistica{
	margin:0px 12px;
}

a.pdfservicos{
    background-image: url("../images/download_pdf.jpg");
    background-repeat: no-repeat;
    color: white;
    display: block;
    font-size: 15px;
    font-weight: bold;
    height: 60px;
    margin: 0 auto;
    padding: 28px 0 5px 30px;
    width: 206px;
	text-decoration: none;
}

ul.features li a{
	color:#ffffff;
}

ul.features li a:hover{
	text-decoration: underline;
}
.mailto {
float: right;
margin-right: 25px;
}
.mailto a {
color: white;
text-decoration: none;
font-size: 15px;
font-weight: bold;
}
.social {
float: right;
margin-top: -31px;
}
.acp_remax {
display:block;
margin-top:-3px;
border: 1px solid #66BD29;
height: 33px;
}

.acp_remax_text{
	color: #FFF;
	display: inline-block;
	padding: 5px;
	font-size: 18px;
	font-weight: normal;
	font-family: arial;
	background-color: #66BD29;
	float:left;
}

.divider {
	float:left;
	font-size:20px;
	padding:5px 0;
	color:#66BD29;
}

.axp_remax_content {
	float:left;
	width:auto;
	padding-top:5px;
	padding-left:5px;
}

.acp_pop_window, .remax_pop_window {
	position:absolute;
	left: 400px;
	width: 400px;
	background-color: #FFF;
	border: 2px solid #66BD29;
	z-index: 10000;
	padding:10px;
	font-size:12px;
}

#querido_pop .acp_pop_window {
	left:191px;
	width:150px;
}

#acp_pop img, #remax_pop img {
	margin:0 11px;
	margin-top:-4px;
	cursor:pointer;
}

.acp_remax_content {
	display:inline-block;
}

.querido {
	margin-top:49px;
	width:362px;
}



.style-this, .style-this a{
	color: #FFF;
	background-color: #66BD29;
	text-align: center;
	margin-top: 0;
	padding: 5px 0;
}



.form_fill_White td{
	height: 100px;

}

a.select-data {
	display: inline-block;
	border: 1px solid white;
	padding: 2px 0px;
	margin: 1px;
	color: #333;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	background-color: white;
	width: 29px;
}
#dep_helper, #dest_helper {
	margin: 5px 0;
	width: 500px;
}
#dep_helper span, #dest_helper span{
	font-size: 11px;
	display: inline-block;
	padding: 0 5px;
	text-decoration: underline;
	cursor: pointer;

}

#err_dep_zip, #err_dest_zip {
	display: none;
}





@media print
  {
  .FormMenu { display:none !important; }
  .FormTop { display:block !important; }
  .no-print { display:none !important; }
  }


/*
AnimaÃƒÂ§ÃƒÂ£o da pÃƒÂ¡gina inicial
*/
div.services-rotator {
	padding: 0px;
	display: block;
	width: 363px;
	height: 50px;
	float: none;	
}
.HForm form {
	margin-top: 50px; 
}
div.services-rotator {
	background: url('../images/home-form-background.jpg') no-repeat 0 0;
}
div.services-rotator ul {
	background: url('../images/home-form-background.png') no-repeat 0 0;
	display: block;
	width: 363px;
	height: 50px;
	padding: 10px;

    /* Chrome, Safari, Opera */
    -webkit-animation-name: myfirst;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 4s;
    -webkit-animation-iteration-count: infinite;
    /* Standard syntax */
    animation-name: myfirst;
    animation-duration: 5s;
    animation-delay: 4s;
    animation-iteration-count: infinite;

}


@-webkit-keyframes myfirst {
    from {
    	background: url('../images/home-form-background.png') no-repeat 0 -50px;
    }
    20% {
    	background: url('../images/home-form-background.png') no-repeat 0 0;
    }
    to {
    	background: url('../images/home-form-background.png') no-repeat 0 0;
    }
}



#HOverlay {
	display: none;
	width: 586px;
	height: 300px;
	content: " ";
	position: absolute;
	z-index: 10;
	overflow: hidden;
	border: none;
}
#video-home {
	display: block;
	width: 586px;
	content: " ";
	position: absolute;
	top: -1px;
}

.video-fechar a {
	font-size: 16px;
	color: #2A2A2A;
	border: #ccc;
	position: absolute;
	right: 0px;
	top: 250px;
	z-index: 11;
	padding: 5px 20px;
	background-color: rgba(238, 238, 238, 0.61);
	text-decoration: none;
}





.HForm{
  animation: animationFrames linear 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}

@keyframes animationFrames{
  0% {
    transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  10% {
    transform:  rotate(-1deg) scaleX(0.90) scaleY(0.90) ;
  }
  20% {
    transform:  rotate(-1deg) scaleX(0.90) scaleY(0.90) ;
  }
  30% {
    transform:  rotate(1deg) scaleX(1.02) scaleY(1.02) ;
  }
  40% {
    transform:  rotate(-1deg) scaleX(1.02) scaleY(1.02) ;
  }
  50% {
    transform:  rotate(1deg) scaleX(1.02) scaleY(1.02) ;
  }
  60% {
    transform:  rotate(-1deg) scaleX(1.02) scaleY(1.02) ;
  }
  70% {
    transform:  rotate(1deg) scaleX(1.02) scaleY(1.02) ;
  }
  80% {
    transform:  rotate(-1deg) scaleX(1.02) scaleY(1.02) ;
  }
  90% {
    transform:  rotate(1deg) scaleX(1.02) scaleY(1.02) ;
  }
  100% {
    transform:  rotate(0deg) scaleX(1.02) scaleY(1.02) ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    -moz-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  10% {
    -moz-transform:  rotate(-1deg) scaleX(0.90) scaleY(0.90) ;
  }
  20% {
    -moz-transform:  rotate(-1deg) scaleX(0.90) scaleY(0.90) ;
  }
  30% {
    -moz-transform:  rotate(1deg) scaleX(1.02) scaleY(1.02) ;
  }
  40% {
    -moz-transform:  rotate(-1deg) scaleX(1.02) scaleY(1.02) ;
  }
  50% {
    -moz-transform:  rotate(1deg) scaleX(1.02) scaleY(1.02) ;
  }
  60% {
    -moz-transform:  rotate(-1deg) scaleX(1.02) scaleY(1.02) ;
  }
  70% {
    -moz-transform:  rotate(1deg) scaleX(1.02) scaleY(1.02) ;
  }
  80% {
    -moz-transform:  rotate(-1deg) scaleX(1.02) scaleY(1.02) ;
  }
  90% {
    -moz-transform:  rotate(1deg) scaleX(1.02) scaleY(1.02) ;
  }
  100% {
    -moz-transform:  rotate(0deg) scaleX(1.02) scaleY(1.02) ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  10% {
    -webkit-transform:  rotate(-1deg) scaleX(0.90) scaleY(0.90) ;
  }
  20% {
    -webkit-transform:  rotate(-1deg) scaleX(0.90) scaleY(0.90) ;
  }
  30% {
    -webkit-transform:  rotate(1deg) scaleX(1.02) scaleY(1.02) ;
  }
  40% {
    -webkit-transform:  rotate(-1deg) scaleX(1.02) scaleY(1.02) ;
  }
  50% {
    -webkit-transform:  rotate(1deg) scaleX(1.02) scaleY(1.02) ;
  }
  60% {
    -webkit-transform:  rotate(-1deg) scaleX(1.02) scaleY(1.02) ;
  }
  70% {
    -webkit-transform:  rotate(1deg) scaleX(1.02) scaleY(1.02) ;
  }
  80% {
    -webkit-transform:  rotate(-1deg) scaleX(1.02) scaleY(1.02) ;
  }
  90% {
    -webkit-transform:  rotate(1deg) scaleX(1.02) scaleY(1.02) ;
  }
  100% {
    -webkit-transform:  rotate(0deg) scaleX(1.02) scaleY(1.02) ;
  }
}

@-o-keyframes animationFrames {
  0% {
    -o-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  10% {
    -o-transform:  rotate(-1deg) scaleX(0.90) scaleY(0.90) ;
  }
  20% {
    -o-transform:  rotate(-1deg) scaleX(0.90) scaleY(0.90) ;
  }
  30% {
    -o-transform:  rotate(1deg) scaleX(1.02) scaleY(1.02) ;
  }
  40% {
    -o-transform:  rotate(-1deg) scaleX(1.02) scaleY(1.02) ;
  }
  50% {
    -o-transform:  rotate(1deg) scaleX(1.02) scaleY(1.02) ;
  }
  60% {
    -o-transform:  rotate(-1deg) scaleX(1.02) scaleY(1.02) ;
  }
  70% {
    -o-transform:  rotate(1deg) scaleX(1.02) scaleY(1.02) ;
  }
  80% {
    -o-transform:  rotate(-1deg) scaleX(1.02) scaleY(1.02) ;
  }
  90% {
    -o-transform:  rotate(1deg) scaleX(1.02) scaleY(1.02) ;
  }
  100% {
    -o-transform:  rotate(0deg) scaleX(1.02) scaleY(1.02) ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    -ms-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  10% {
    -ms-transform:  rotate(-1deg) scaleX(0.90) scaleY(0.90) ;
  }
  20% {
    -ms-transform:  rotate(-1deg) scaleX(0.90) scaleY(0.90) ;
  }
  30% {
    -ms-transform:  rotate(1deg) scaleX(1.02) scaleY(1.02) ;
  }
  40% {
    -ms-transform:  rotate(-1deg) scaleX(1.02) scaleY(1.02) ;
  }
  50% {
    -ms-transform:  rotate(1deg) scaleX(1.02) scaleY(1.02) ;
  }
  60% {
    -ms-transform:  rotate(-1deg) scaleX(1.02) scaleY(1.02) ;
  }
  70% {
    -ms-transform:  rotate(1deg) scaleX(1.02) scaleY(1.02) ;
  }
  80% {
    -ms-transform:  rotate(-1deg) scaleX(1.02) scaleY(1.02) ;
  }
  90% {
    -ms-transform:  rotate(1deg) scaleX(1.02) scaleY(1.02) ;
  }
  100% {
    -ms-transform:  rotate(0deg) scaleX(1.02) scaleY(1.02) ;
  }
}

label{
	display: block;
	text-align: left !important;
}

ul.stepy-titles { margin:0; padding:0;}
.stepy-titles { list-style: none; margin: 0; padding: 0; width: 100%; margin-bottom:0; }
.stepy-titles li:first-child {margin-left:0;}
.stepy-titles li { cursor: pointer; float: left; padding: 7px 20px; background:#f0f0f0; font-weight:600; margin-bottom:2px;  margin-left:2px; position:relative; font-size:16px; }
.stepy-titles li span { font-size:11px; display: block; font-weight:normal; }
.stepy-titles .current-step { cursor: auto; background:#A3D869; color:#fff;}

.form-control.error{ background:#fdf5f5}
.stepy-error{ display:block;}
.stepy-error label.error {
	background: #e34f4f url(../img/alert.png) no-repeat 5px center; 
	color: #fff; 
	display: block; 
	display:inline-block; 
	font-size: 12px ; 
	padding: 6px 10px 0px  25px;  
	margin:8px 5px 2px 0; 
	-khtml-border-radius: 3px; 
	-moz-border-radius: 3px; 
	-opera-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	border-radius: 3px;  
	position:static; 
	line-height:normal;
}
.stepy-error label.error:after {border-width:0;}
input[type="submit"].finish{
	border: none;
	font-family: inherit;
	font-size: inherit;
	color:#fff;
	background: #333;
	cursor: pointer;
	padding: 7px 20px;
	display: inline-block;
	outline: none;
	font-size:12px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-transform:uppercase;
	font-weight:bold;
	float:right;
	margin-top:20px;
}

.steps-container{
	margin: 0px 0 0px 0;
}

.stepy-titles{
	text-decoration: none;
}

.form-container{
	font-family: 'Roboto', Arial, sans-serif;
	color:  #565a5c;
}

.stepy-titles a{
	color: #565a5c;
	text-decoration: none;
	font-weight: 600;
	font-size: 16px;
}

@media screen and (min-width: 768px){
	ul.stepy-titles{
		margin: 10px 0 0 0 !important;
	}
	.stepy-titles li{
		width: 100px;
		min-height: 70px;
		margin-bottom: 0;
	}
}

@media screen and (max-width: 768px){
	div.FormTop{
		/* max-height: 75px !important; */
	}
}

ul.image-preview-list *{
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-ms-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

ul.image-preview-list{
	padding: 0;
	list-style-type: none;
}

ul.image-preview-list li{
	margin: 10px 0;
	position: relative;
}

ul.image-preview-list li input[type=file]{
	display: none;
}

ul.image-preview-list li textarea{
	transform: translateY(10px);
}

ul.image-preview-list li:last-child button{
	opacity: 0;
}

ul.image-preview-list li:last-child textarea{
	opacity: 0;
}

ul.image-preview-list li img{
	opacity: 0;
}

.btn-remove{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1000;
	border: 0;
	width: 40px;
	line-height: 40px;
	height: 40px;
	border-radius: 3px;
	font-size: 1.2em;
}

.citymover-boxes-price{
	font-size: 0.8em;
	color: #333;
}

.section-title{
	margin: 15px 0 10px;
}

div#MoreBoxes table th{
	font-size: 0.8em;
}

.no-spaces{
	padding: 0;
}

.added-item{
	position: relative;
	padding: 15px 0;
	border-top: 1px dotted #ebebeb;
}

.added-item .btn.btn-danger{
	position: absolute;
	top: 0;
	right: 0;
}

.form-table{
	font-size: 1em;
	width: 100%;
	margin-bottom: 20px;
	margin-top: 20px;
}

.form-table tr th{
	vertical-align: middle;
	background: #ebebeb;
	font-size: 0.8em;
}

.form-table tr th, .form-table tr td{
	border: 1px solid #dbdbdb;
	padding: 2%;
}

h4.insurance-table-title{
	background: #66BD29;
	padding: 5px 10px;
}

table.insurance-table{
	table-layout: fixed;
}

table.insurance-table tr th{
	font-size: 0.8em;
	padding: 5px 10px;
	word-wrap: break-word;
	color: #555;
	font-weight: normal;
}

table.insurance-table tr td{
	font-size: 0.8em;
	padding: 5px 10px;
}

table.insurance-table tr td input{
	border: 1px solid #ebebeb;
	text-align: center;
}

.OrcTd1 img{
	max-width: 100%;
}

.noty_message *{
	font-weight: normal !important;
	font-family: Roboto, Arial, sans-serif;
}