body{
  background: #F5F5F5;
}
html,body{
  position: relative;
  height: 100%;
}

.login-container{
  position: relative;
  width: 300px;
  margin: 80px auto;
  padding: 20px 40px 40px;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
}

#output{
  position: absolute;
  width: 300px;
  top: -75px;
  left: 0;
  color: #fff;
}

#output.alert-success{
  background: rgb(25, 204, 25);
}

#output.alert-danger{
  background: rgb(228, 105, 105);
}


.login-container::before,.login-container::after{
  content: "";
  position: absolute;
  width: 100%;height: 100%;
  top: 3.5px;left: 0;
  background: #fff;
  z-index: -1;
  -webkit-transform: rotateZ(4deg);
  -moz-transform: rotateZ(4deg);
  -ms-transform: rotateZ(4deg);
  border: 1px solid #ccc;

}

.login-container::after{
  top: 5px;
  z-index: -2;
  -webkit-transform: rotateZ(-2deg);
  -moz-transform: rotateZ(-2deg);
  -ms-transform: rotateZ(-2deg);

}

.avatar{
  width: 100px;height: 100px;
  margin: 10px auto 30px;
  border-radius: 100%;
  background-size: cover;
  background: #e41a15;
  position: relative;
}

.avatar img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.form-box input{
  width: 100%;
  padding: 10px;
  text-align: center;
  height:40px;
  border: 1px solid #ccc;
  background: #fafafa;
  transition:0.2s ease-in-out;

}

.form-box input:focus{
  outline: 0;
  background: #eee;
}

.form-box input[type="text"]{
  border-radius: 5px 5px 0 0;
  text-transform: lowercase;
}

.form-box input[type="password"]{
  border-radius: 0 0 5px 5px;
  border-top: 0;
}

.form-box button.login{
  margin-top:15px;
  padding: 10px 20px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}



.btn-info{
  background-color: #a0a0a0;
  border-color: transparent !important;
}

.btn-info:hover{
  background-color: #e41a15;
}


/* form slightly updated */
.house-division{
  padding: 50px 0;
  background: #fafafa;
  border: 3px solid #ebebeb57;
  border-radius: 5px;
  text-align: center;
  border-width: 3px;
  margin-bottom: 20px;
}

.house-division, .house-division *, .kit *, .kit{
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.house-division i {
  display: block;
  font-size: 40px;
  color: #9e9e9e52;
}

.house-division span{
  color: #a9a9a9;
  display: block;
  margin-top: 15px;
  text-transform: uppercase;
  font-weight: 700;

}

.house-division:hover i, .house-division:hover span, .house-division.active span, .house-division.active i{
  color: #E61418;
}

.house-division:hover, .kit:hover{
  border-color: #ebebebb5;
  cursor: pointer;
}

.house-division.active, .kit.active{
  border-color: #E61418;
}

.kit.active h4{
  color: #E61418;
}

.kit{
  border: 3px solid #ebebeb57;
  border-radius: 5px;
  text-align: center;
  padding: 20px 0;
}

hr.form-closure{
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 1px dotted #ddd;
}

.btn-forward{
  background: #E61418;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.btn-forward:hover{
  color:  #fff;
  transform: translateX(10px);
}

ul.image-preview-list *{
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

ul.image-preview-list{
  padding: 0;
  list-style-type: none;
}

ul.image-preview-list li{
  margin: 10px 0;
  position: relative;
}

ul.image-preview-list li input[type=file]{
  display: none;
}

ul.image-preview-list li textarea{
  transform: translateY(10px);
}

ul.image-preview-list li:last-child button{
  opacity: 0;
}

ul.image-preview-list li:last-child textarea{
  opacity: 0;
}

ul.image-preview-list li img{
  /*opacity: 0;*/
}

.btn-remove{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
  border: 0;
  width: 40px;
  line-height: 40px;
  height: 40px;
  border-radius: 3px;
  font-size: 1.2em;
}

.citymover-boxes-price{
  font-size: 0.8em;
  color: #333;
}

.btn-default{
  background-color: #a0a0a0;
  border-color: transparent !important;
  color: #fff;
}

.btn-success{
  text-transform: uppercase;
  background-color: #E61418;
  border: transparent;
  font-weight: 700;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}


.btn-success:hover{
  color: #fff;
  transform: translateX(10px);
  background-color: #E61418;
}

/* citymover.old.css tweaks */
#err_dep_zip, #err_dest_zip {
  display: none;
}
/* citymover.old.css tweaks */

.section-title{
  color: #E61418;
}

.kit-price{
  display: block;
  font-size: 25px;
  line-height: 35px;
}